h1,h3{
    font-weight: bold;
}

h1{
    font-size: 22px;
}

h3{
    font-size: 18px;
}

p{
    text-align: center;
}
/* 초기화 */






.header{
    padding: 40px;
    box-shadow: 0 10px 10px -5px rgb(167, 167, 167);
    position: sticky;
}

.org_header_top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* 헤더 */




.org_section_1{
    box-shadow: 0 10px 10px -5px rgb(167, 167, 167);
    margin-bottom: 50px;
}

.org_section_1>img{
    width: 100%;
    margin-top: 40px;
}
/* 본문1 */





.org_section_2{
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 90px;
}

.org_section_2 > ul{
    margin-top: 30px;
    margin-bottom: 50px;   
}

input{
    margin-right: 15px;
}

input[type="radio"]{
    vertical-align: middle;
    appearance: none;
    border: max(2px, 0.1em) solid gray;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    transition: border 0.5s ease-in-out;
}

input[type="radio"]:checked {
    border: 0.4em solid rgb(83, 83, 83);
}

.org_section_2_list > li{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.org_section_2 > ul > li > button{
    background-color: rgb(255, 255, 255);
    color: rgb(214, 214, 214);
    border-radius: 20px;
    outline: 0;
    border: 0.1px solid;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 13px;
}

.org_section_2 > ul > li > button > p{
    color: rgb(92, 92, 92);
    font-weight: bold;
}

.org_section_text_input{
    margin-top: 65px;
}

.org_section_text_input > h3{
    padding-bottom: 25px;
}

.org_section_text_input > input{
    padding: 5px;
    border: 0.5px solid gainsboro;
    width: 75%;
    text-align: center;
    margin-right: 17px;
    border-radius: 20px;
}

.org_section_text_input > .button{
    background-color: black;
    color: white;
    border-radius: 20px;
    outline: 0;
    border: 0;
    padding: 6px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}
/* 본문2 */




.footer{
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 20px;
    position: fixed;
    bottom: 0;
    padding: 10px;
}
/* 푸터 */