.header{
    padding: 40px;
    box-shadow: 0 10px 10px -5px rgb(167, 167, 167);
    position: sticky;
}

.org_header_top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* 헤더 */