h1 {
  font-size: 22px;
  font-weight: bold;
}

.org_header_top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* <모집중인 공고내역>------------------------------------------------- */
.main{
  /* margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px; */
  margin: 30px 20px 0 20px;
}

.main > .org_vol_list{
  margin: 0;
}
.org_vol_list>li {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}

.org_vol_list>li>img {
  width: 160px;
  height: 160px;
  border-radius: 10px;
  margin-right: 30px;
}

.edit_btn {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.edit_btn>a>span {
  font-size: 14px;
  font-weight: bold;
  border: 1px solid #c1c1c1;
  /* 테두리 스타일과 색상 설정 */
  border-radius: 100px;
  /* 테두리 둥글기 설정 */
  padding: 5px 10px;
  transition: all 250ms;
}

.edit_btn>a>span:hover {
  background-color: black;
  color: white;
}

.org_vol_info {
  display: flex;

  flex-direction: column;
  justify-content: center;
  /* 왼쪽 정렬 방식 설정 */
  text-align: left;
  /* 텍스트 왼쪽 정렬 설정 */
}

.date-time {
  font-size: 14px;
}

.location {
  font-size: 16px;
  font-weight: bold;
  border-bottom: 1px solid #c1c1c1;
  margin-top: 5px;
  margin-bottom: 20px;
  padding-bottom: 5px;
}

/* <봉사기관 정보변경>------------------------------------------------- */


.org_info_img {
  margin: 20px;
  width: 400px;
  height: 230px;
  background-image: url(../../img/user/org_profile.png);
  background-repeat: no-repeat;

  position: relative;
  /* display: flex;
  justify-content: end;
   */
}

.org_info_edit_btn {
  position: absolute;
  bottom: 21px;
  right: 23px;
}

.org_info_edit {
  list-style-type: none;

  /* 테두리 스타일 */
  border: 1px solid #c1c1c1;
  border-radius: 10px;
  height: 40px;
  width: 370px;

  /* 텍스트 스타일 */
  align-items: center;
  display: flex;
  color: #aaaaaa;
  text-align: center;
  font-size: 16px;
  padding-left: 20px;

  /* 기본 스타일 */
  margin-bottom: 10px;
}

/* 기관명,대표자명 수정불가 -> 회색 */
.org_info_edit_fix {
  color: #aaaaaa;
}

/* 수정 입력폼 */
.org_info_edit>li>input {
  border: none;
  font-size: 18px;
  padding-top: 3px;
  padding-left: 30px;
}

/* 기업회원 탈퇴 */

.org_membership_withdrawal {
  margin-left: 10px;
  font-size: 16px;
  text-decoration-line: underline;

  color: #444343;
}

/* <나 의 봉사 일기 : 내 게시글>------------------------------------------------- */

.my_post_list>li {
  display: flex;
  margin-bottom: 40px;
}

.my_post_list>li>div {
  /* position: absolute;  */
}