@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
  font-family: 'Noto Sans KR', sans-serif;
}
body {
  width: 430px;
}
/* .header {
  font-size: 24px;
  text-align: center;
  padding: 40px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 4px;
  position: sticky;
} */

#s1 {
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
}
#s1 > form > input {
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 35px;
  font-size: 16px;
  /* padding: 10px; */
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  color: #555;
  outline: none;
}

#s1 > form > input:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.org_date_form{
  position: relative;
}

.org_date_txt {
  color: #aaa;
  font-size: 14px;
  position: absolute;
  z-index: 1;
  margin-left: 10px;
  margin-top: 7px;
}

#s1 > form > .org_date {
  text-align: center;
  width: 85%;
  padding-left: 20px;
}


#s1 > form > span {
  color: #aaa;
  font-size: 17px;
  font-size: 14px;
  position: absolute;
  z-index: 1;
  margin-top: 7px;
  margin-left: 10px;
}


#s1 > form > .org_deadline {
  /* padding-right: 0px;
  margin-top: 10px;
  margin-left: 15px;
  margin-bottom: 20px; */
  text-align: center;
  width: 85%;
  padding-left: 20px;
}

.org_post_title{
  width: 90%;
}

.org_post_person{
  width: 90%;
}

#s1 > form > .org_file {
  font-weight: bold;
  margin-right: 100px;
  margin-bottom: 20px;
  position: relative;
}
#s1 > form > .org_post_box {
  margin-bottom: 95px;
  width: 100%;
}

.org_submit{
  width: 100%;
  position: relative;
}

.org_submit > .cancel {
  width: 130px;
  height: 70px;
  background-color: #555;
  color: white;
  transition: all 250ms;
  padding: 0;
  border: 0;
  font-size: 20px;
}

.org_submit > .enroll {
  position: absolute;
  width: 330px;
  height: 70px;
  background-color: black;
  color: white;
  transition: all 250ms;
  padding: 0;
  border: 0;
  font-size: 20px;
}

.org_submit > .cancel:hover {
  background-color: #e1332d;
}
.org_submit > .enroll:hover {
  background-color: #006fad;
}
