body {

    display: flex;
    flex-direction: column;
}

.main {
    overflow: auto;
    margin-bottom: 70px;
    position: relative;
}

.input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 13px;
    align-items: flex-start;
    height: 90%;


}

.input>div {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 7%;
    justify-content: space-between;
    gap: 10px;
    overflow: scroll;
    align-items: flex-start;
}

.input>div {
    margin-left: 5%;
    margin-top: 5%;
    padding: 0;
}

.input>div>input {
    width: 80%;
    border-style: none;
}

.input>div>hr {
    width: 80%;
    position: relative;
    margin: 0;
}



.member_customer_service_input_submit {
    width: 430px;
    height: 70px;
    position: absolute;
    bottom: 0;
    background-color: #000000;
    color: #efefef;
    font-weight: bold;
    font-size: 24px;
    border: none;
}