h1,
h3 {
  font-weight: bold;
}

h1 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

span {
  font-size: 12px;
}

p {
  text-align: center;
}
/* 초기화 */

.header {
  padding: 40px;
  position: sticky;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 4px;
}

.org_header_top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* 헤더  */

.org_section_1 {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 4px;
}

.org_section_1 > img {
  width: 100%;
}
/* 본문1 */

.org_section_2 {
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 90px;
  display: flex;
  flex-direction: column;
}

.org_section_2 > ul {
  margin-top: 30px;
  margin-bottom: 20px;
}

.org_section_2 > ul > li {
  margin-bottom: 10px;
}

input {
  margin-right: 15px;
}

input[type="radio"] {
  vertical-align: middle;
  appearance: none;
  border: max(2px, 0.1em) solid gray;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  transition: border 0.5s ease-in-out;
}

input[type="radio"]:checked {
  border: 0.4em solid rgb(83, 83, 83);
}

.org_section_2 > input {
  padding: 60px;
  border: 0.5px solid gainsboro;
  text-align: center;
  margin-right: 17px;
  border-radius: 10px;
}
/* 본문2 */

.member_customer_service_input_submit {
  width: 430px;
  height: 70px;
  position: absolute;
  bottom: 0;
  background-color: #000000;
  color: #efefef;
  font-weight: bold;
  font-size: 24px;
  border: none;
}
