<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"

	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>기관메인</title>
    <script src="/js/org_main.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/org/main.css" />
  </head>
  <body>
	  
    <header class="header">
      <div class="header1">
        <a href=""
          ><img src="/img/icon/icon_header_back.png" alt="뒤로가기"
        />
        <div><img src="/img/icon/icon_header_title.png" alt=""></div>
        <a href=""
          ><img src="/img/icon/icon_header_more.png" alt="더보기"
        /></a>
      </div>
    </header>
    <div class="main">
      <section class="org_profile">
        <div class="org_profile_pic">
          <img src="/img/org/org_main_profile.png" alt="기관이미지" />
          <p class="org_profile_name">
            어서오세요! <br />(주)해봉이네<span> 님</span></span>
          </p>
        </div>
      </section>
      <div class="d_day_content">
        <span>우리 기관과 함께한지 <span class="d_day_cnt1"></span>일💛</span>
        <br />
        <span
          >해봉을 통해 만난 봉사자 <span class="d_day_cnt2">127</span>명💎</span
        >
      </div>
      <section class="recruit">
        <div class="recruit_box">
          <div class="recruit_post"><div><img src="/img/icon/org_main_recruit.svg" alt=""><p>공고작성</p></div></div>
          <div class="org_cs"><div><img src="/img/icon/org_main_recruit.svg" alt=""><p>공고관리</p></div></div>
          <div class="org_cs"><div><img src="/img/icon/org_main_recruit.svg" alt=""><p>고객센터</p></div></div>
          <div class="org_cs"><div><img src="/img/icon/org_main_edit.svg" alt=""><p>정보수정</p></div></div>
        </div>
      </section>
      <section class="ing">
        <div class="ing_header">
          <div>진행중 모집 <span> 2</span></div>
          <img src="/img/icon/icon_plus.png" alt="더보기" />
        </div>
        <div class="ing_footer">
          <div class="ing_container">
            <div class="ing_contents">
              <div class="ing_detail">모집인원</div>
              <div class="ing_detail">10명</div>
            </div>
            <div class="ing_contents">
              <div class="ing_detail">봉사장소</div>
              <div class="ing_detail">행복보육원</div>
            </div>
            <div class="ing_contents">
              <div class="ing_detail">마감일자</div>
              <div class="ing_detail"><span>23.05.17</span></div>
            </div>
            <div class="ing_contents">
              <div class="ing_detail">봉사일자</div>
              <div class="ing_detail">23.05.23</div>
            </div>
          </div>
          <div class="ing_container">
            <div class="ing_contents">
              <div class="ing_detail">모집인원</div>
              <div class="ing_detail">10명</div>
            </div>
            <div class="ing_contents">
              <div class="ing_detail">봉사장소</div>
              <div class="ing_detail">행복보육원</div>
            </div>
            <div class="ing_contents">
              <div class="ing_detail">마감일자</div>
              <div class="ing_detail"><span>23.06.17</span></div>
            </div>
            <div class="ing_contents">
              <div class="ing_detail">봉사일자</div>
              <div class="ing_detail">23.05.23</div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <nav class="nav_footer">
      <a href="">
        <img src="/img/org/org_main_ad.png" alt="" />
      </a>
    </nav>
  </body>
</html>
