<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>(기관) 비밀번호 변경 다음 페이지</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/reset.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="../../static/css/org/pwd_change_insert.css"
    />
  </head>
  <body>
    <main class="main">
      <header class="header">
        <ul class="org_header_top">
          <li class="org_header_top_li_1">
            <img
              src="../../static/img/icon/icon_header_back.png"
              alt="뒤로가기"
            />
          </li>
          <li class="org_header_top_li_2">
            <h1>비밀번호 변경</h1>
          </li>
          <li class="org_header_top_li_3">
            <img
              src="../../static/img/icon/icon_header_more.png"
              alt="점세개아이콘"
            />
          </li>
        </ul>
      </header>
      <!-- 헤더 -->

      <section class="org_section_1">
        <img src="../../static/img/org/img_pwd_change.png" alt="비번변경" />
      </section>
      <!-- 본문1 -->

      <section class="org_section_2">
        <ul>
          <li>
            <h3>기존 비밀번호 입력</h3>
            <input
              type="text"
              name="security_num"
              placeholder="기존 비밀번호를 입력해주세요"
            /><br />
            <span>(영문 대소문자/숫자 중 2가지 이상 조합,10자~15자)</span>
          </li>
          <li>
            <h3>새 비밀번호 입력</h3>
            <input
              type="text"
              name="security_num"
              placeholder="새로운 비밀번호를 입력해주세요"
            /><br />
            <span>(영문 대소문자/숫자 중 2가지 이상 조합,10자~15자)</span>
          </li>
          <li>
            <h3>새 비밀번호 확인</h3>
            <input
              type="text"
              name="security_num"
              placeholder="새로운 비밀번호를 입력해주세요"
            /><br />
          </li>
        </ul>
      </section>
      <!-- 본문2 -->

      <footer class="footer">
        <h1>확인</h1>
      </footer>
      <!-- 푸터 -->
    </main>
  </body>
</html>
