<!DOCTYPE html>
<html lang="en"
   xmlns:th="http://www.thymeleaf.org"
>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/org/vol_applicant_list.css">
   <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script defer src="/js/modal.js"></script>
    <title>신청자 내역</title>
</head>

<body id="body">
    <header class="header">
        <div class="header1">
            <a href="#" id="back_btn"><img src="/img/icon/icon_header_back.png" alt="뒤로가기"></a>
            <div>신청자 내역</div>
            <div href="#" id="more_btn"><img src="/img/icon/icon_header_more.png" alt="더보기"></div>
        </div>
    </header>
    <section class="main" id="main">
        <div class="org_vol_list" >
        <div class="org_district"><span th:text="${orgVol.metropolId}">광주광역시</span> <span th:text="${orgVol.districtId}">북구</span ></div>
        <div class="org_vol_title"th:text="${orgVol.title}" >행복보육원 봉사자 구인합니다 장소는 어디냐면요</div>
        <div class="org">
          <span class="org_name"th:text="${orgVol.orgId}">(주)행복보육원</span>
          <span> | </span>
          <span class="org_time">1시간전</span>
          <!--시간계산 아직 남음-->
        </div>
      </div>
        <table class="org_apply_list_table">
            <tr class="org_apply_list_row" >
                <th class="num_h">번호</th>
                <th class="name_h">성명</th>
                <th class="phone_h">전화번호</th>
                <th class="regdate_h">신청일</th>
                <th class="status_h">상태</th>
            </tr>
          <tr class="org_apply_list_row" th:each="u,uStat : ${userList}">
    <td class="num" th:text = "${uStat.count}">1</td>
    <td class="name" th:text = "${u.name}" >dddd</td>
    <td class="phone"th:text = "${u.phoneNumber}" >2121</td>
    <td class="regdate" th:text = "${u.date}">2222</td>
    <td>
        <div class="org_status">
            <div class="org_status_approved" th:if ="${u.status=='1'}">승인</div>
            <div class="org_status_waiting" th:if = "${u.status=='0'}">대기</div>
            <div class="org_status_refused" th:if = "${u.status=='2'}">거절</div>
        </div>
    </td>
	</div>
</tr>

        </table>
    </section>
    <section class="modal" id="modal">
        <div>
            <ul class="modal_list">
                <li class="modal_list_item1"><img src="/img/icon/close.png" id="close_btn" alt="닫기버튼"></li>
                <li class="modal_list_item2">수락대기 신청자</li>
                <li class="modal_list_item2">전체신청자</li>
            </ul>
        </div>
    </section>
    <footer class="footer">
        <div class="btn_single">목록</div>
    </footer>

    <!-- <div class="org_status">
        <div class="org_status_approved">승인</div>
    </div> -->
    <div class="org_status">
        <div class="org_status_waiting">대기</div>
    </div>
    <div class="org_status">
        <div class="org_status_refused">거절</div>
    </div>

</body>


</html>