<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>org_vol_recruit</title>
    <link rel="stylesheet" href="../../static/css/reset.css" />
    <link rel="stylesheet" href="../../static/css/style.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="../../static/css/org/vol_recruit.css"
    />
  </head>
  <body>
    <main class="main">
      <header class="header">
        <div class="header1">
          <a href=""
            ><img
              src="../../static/img/icon/icon_header_back.png"
              alt="뒤로가기"
          /></a>
          <div>상세보기</div>
          <div>
            <img
              src="../../static/img/icon/icon_header_more.png"
              alt="더보기"
            />
          </div>
        </div>
      </header>
      <!-- <header class="header">
            <div class="header2">
                <img src="../../img/icon/icon_header_title.png" alt="로고">
            </div>
        </header> -->
      <!------------------------------헤더----------------------------------->

      <section class="org_vol_recruit_title">
        <img src="../../static/img/org/vol_img.png" alt="이하늬봉사사진" />
        <section class="org_vol_recruit_title_box">
          <ul>
            <div>
              <li>
                서울 마포구<img
                  src="../../static/img/icon/icon_heart.png"
                  alt="하트아이콘"
                />
              </li>
              <li>행복보육원 봉사자 구인합니다.</li>
              <li>(주)행복보육원 │ <span>1</span>시간전</li>
            </div>
          </ul>
        </section>
      </section>
      <!------------------------------봉사 모집 제목 박스----------------------------------->

      <section class="org_vol_recruit_info">
        <div class="org_vol_recruit_box1">
          <ul class="ul_1">
            <li>모집인원</li>
            <li>5명</li>
          </ul>
          <ul class="ul_2">
            <li>봉사장소</li>
            <li>행복보육원</li>
          </ul>
          <ul class="ul_3">
            <li>마감일</li>
            <li>23.05.17</li>
          </ul>
          <ul class="ul_4">
            <li>봉사일자</li>
            <li style="color: #224bb5">23.05.26</li>
          </ul>
        </div>
        <div class="org_vol_recruit_box2">
          <ul class="ul_5">
            <li>마감일</li>
            <li style="color: #ff0c0c">D-7</li>
          </ul>
          <ul class="ul_6">
            <li>신청대기</li>
            <li>7</li>
          </ul>
          <ul class="ul_7">
            <li>찜한사람</li>
            <li>12</li>
          </ul>
        </div>
        <div class="org_vol_recruit_box3">
          <ul class="ul_8">
            <li>신청자 관리</li>
          </ul>
        </div>
      </section>
      <!------------------------------신청 마감일표시 박스----------------------------------->

      <ul class="org_vol_recruit_content">
        <li class="title">봉사 모집 요강</li>
        <li class="line_text">
          전주시 완산구에서 골목 벽화 그리기 봉사자<br />
          모집합니다!<br />
          <br />
          미대생 이시면 좋지만, 그림을 좋아하시고 봉사를 사랑하시는 분이라면<br />
          누구나 가능합니다^^<br />
          <br />
          해봉 어플을 통해 신청해주시면 확정 인원에<br />
          한해, 따로 연락 드리겠습니다!
        </li>
        <li class="title">봉사 장소</li>
        <li>지~도..api 들어올곳</li>
      </ul>
      <!------------------------------봉사 모집 요강------------------------------------>

      <nav class="nav_list">
        <ul>
          <li>
            <a
              ><img
                src="../../static/img/icon/icon_nav_home.png"
                alt="내브바아이콘1"
            /></a>
          </li>
          <li>
            <a
              ><img
                src="../../static/img/icon/icon_nav_map.png"
                alt="내브바아이콘2"
            /></a>
          </li>
          <li>
            <a
              ><img
                src="../../static/img/icon/icon_nav_community.png"
                alt="내브바아이콘3"
            /></a>
          </li>
          <li>
            <a
              ><img
                src="../../static/img/icon/icon_nav_category.png"
                alt="내브바아이콘4"
            /></a>
          </li>
          <li>
            <a
              ><img
                src="../../static/img/icon/icon_nav_mypage.png"
                alt="내브바아이콘5"
            /></a>
          </li>
        </ul>
      </nav>
      <!--------------------------------네비바---------------------------->
    </main>
  </body>
</html>
