<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/reset.css" />
    <link rel="stylesheet" href="../../static/css/style.css" />
    <link rel="stylesheet" href="../../static/css/org/vol_list.css" />
  </head>

  <header class="header">
    <div class="header1">
      <a href=""
        ><img src="../../static/img/icon/icon_header_back.png" alt="뒤로가기"
      /></a>
      <div>공고 관리</div>
      <a href=""
        ><img src="../../static/img/icon/icon_header_more.png" alt="더보기"
      /></a>
    </div>
  </header>

  <body>
    <section class="main">
      <div class="org_vol_category">
        <a href="#"><span>모집중인 공고</span></a>
        <a href="#"><span>완료된 공고</span></a>
      </div>
      <ul class="org_vol_list">
        <li>
          <img
            class="org_vol_list_img"
            src="../../static/img/org/org_vol_list_img.png"
            alt="모집공고이미지"
          />
          <div class="org_vol_list_info">
            <div>
              <span class="org_vol_title"
                >행복보육원 봉사자 구인합..<br
              /></span>
              <span class="org_vol_date">5월 13일(월), 13:00~16:00</span>
              <span class="org_vol_write_date">2023/04/26</span>
              <a class="org_vol_list_detail_btn" href="#"
                ><span>상세보기</span></a
              >
            </div>
          </div>
          <img
            class="org_vol_list_edit_btn"
            src="../../static/img/icon/icon_vol_list_more.png"
            alt="모집공고_아이콘"
          />
        </li>
        <li>
          <img
            class="org_vol_list_img"
            src="../../static/img/org/org_vol_list_img.png"
            alt="모집공고이미지"
          />
          <div class="org_vol_list_info">
            <div>
              <span class="org_vol_title"
                >행복보육원 봉사자 구인합..<br
              /></span>
              <span class="org_vol_date">5월 13일(월), 13:00~16:00</span>
              <span class="org_vol_write_date">2023/04/26</span>
              <a class="org_vol_list_detail_btn" href="#"
                ><span>상세보기</span></a
              >
            </div>
          </div>
          <img
            class="org_vol_list_edit_btn"
            src="../../static/img/icon/icon_vol_list_more.png"
            alt="모집공고_아이콘"
          />
        </li>
        <li>
          <img
            class="org_vol_list_img"
            src="../../static/img/org/org_vol_list_img.png"
            alt="모집공고이미지"
          />
          <div class="org_vol_list_info">
            <div>
              <span class="org_vol_title"
                >행복보육원 봉사자 구인합..<br
              /></span>
              <span class="org_vol_date">5월 13일(월), 13:00~16:00</span>
              <span class="org_vol_write_date">2023/04/26</span>
              <a class="org_vol_list_detail_btn" href="#"
                ><span>상세보기</span></a
              >
            </div>
          </div>
          <img
            class="org_vol_list_edit_btn"
            src="../../static/img/icon/icon_vol_list_more.png"
            alt="모집공고_아이콘"
          />
        </li>
        <li>
          <img
            class="org_vol_list_img"
            src="../../static/img/org/org_vol_list_img.png"
            alt="모집공고이미지"
          />
          <div class="org_vol_list_info">
            <div>
              <span class="org_vol_title"
                >행복보육원 봉사자 구인합..<br
              /></span>
              <span class="org_vol_date">5월 13일(월), 13:00~16:00</span>
              <span class="org_vol_write_date">2023/04/26</span>
              <a class="org_vol_list_detail_btn" href="#"
                ><span>상세보기</span></a
              >
            </div>
          </div>
          <img
            class="org_vol_list_edit_btn"
            src="../../static/img/icon/icon_vol_list_more.png"
            alt="모집공고_아이콘"
          />
        </li>
      </ul>
    </section>
  </body>
</html>
