<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user_vol_recruit</title>
    <link rel="stylesheet" href="../../static/css/reset.css" />
    <link rel="stylesheet" href="../../static/css/style.css" />
    <link rel="stylesheet" type="text/css" href="../../static/css/org/vol_write.css">

</head>
<body>

    <header class="header">
        <div class="header1">
          <a href=""
            ><img src="../../static/img/icon/icon_header_back.png" alt="뒤로가기"
          /></a>
          <div>나의 문의</div>
          <a href=""
            ><img src="../../static/img/icon/icon_header_more.png" alt="더보기"
          /></a>
        </div>
      </header>


    <section class="user_vol_recruit_title">
        <img src="../../static/img/org/vol_img.png" alt="이하늬봉사사진">
    </section>
   
        <!-- <header class="header">
            <div class="header2">
                <img src="../../img/icon/icon_header_title.png" alt="로고">
            </div>
        </header> -->
        <!------------------------------헤더----------------------------------->



        <!----------------------------------------------------------------->


        <form action="" class="org_vol_form">

                <input type="text" class="title" id="title" placeholder="글 제목">
                <input type="text" class="number" placeholder="모집 인원">
                <input type="text" class="location" placeholder="봉사 장소">
                <input type="text" class="due_date" placeholder="마감일">
                <input type="text" class="date" placeholder="봉사 일자">
            
 
    
    
    
        <!-------------------봉사모집요강---------------------------------------------->
    
          
        
        <textarea placeholder="봉사 모집 요강
        봉사 모집글에 관한 글을 작성해주세요.
        타인에 대한 무분별한 비방이나 욕설은 
        경고없이 삭제될 수 있습니다." class="org_vol_post_content_input" style="resize: none;"></textarea>
         
        <!----------------------------------------------------------------->


 
        <input type="submit" class="btn_single" value="등록하기"></input>
     
    </form>
</body>
</html>