<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user_vol_recruit</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/org/vol_post_write.css">

</head>
<body>

<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <header class="header">
        <div class="header1">
          <a href=""
            ><img src="/img/icon/icon_header_back.png" alt="뒤로가기"
          /></a>
          <div>등록하기</div>
          <a href=""
            ><img src="/img/icon/icon_header_more.png" alt="더보기"
          /></a>
        </div>
      </header>

    <section class="user_vol_recruit_title">
        <img src="/img/org/vol_img.png" alt="이하늬봉사사진">
    </section>

        <form action="vol_write" class="org_vol_form"  method="post">
	<select class="category" name="volCategoryId">
		<option value="선택안함">카테고리</option>
		  <option th:each="c : ${cateList}"  th:value="${c.id}" th:text="${c.name}">카테고리</option>
	</select>
				<input type="number" class="org_id" id="org_id" name="orgId" th:value = "${orgId}" hidden>
				<input type="text" class="title" id="org_name" name="orgName" th:value = "${orgName}" readonly>
                <input type="text" class="title" id="title" placeholder="글 제목"   name = "title">
                <input type="text" class="number" placeholder="모집 인원"  name = "capacity">
                <input type="text" class="location" placeholder="봉사 장소" onclick="daumMap(this)" name = "roadAddress" >
                <input type="text" class="address" placeholder="상세주소"  name = "address" >
<script>
  function daumMap(inputField){ new daum.Postcode({
        oncomplete: function(data) {
           var roadAddress = data.roadAddress; 
            inputField.value = roadAddress; 
        }
    }).open();
    }
</script>
        <!--        <input type="text" class="due_date" placeholder="마감일"  name = "date"> 봉사일자 -3일 때리기 -->
                <input type="date" class="date" placeholder="봉사 일자"  name = "date">

        <textarea placeholder="
        봉사 모집 요강
        봉사 모집글에 관한 글을 작성해주세요.
        타인에 대한 무분별한 비방이나 욕설은 
        경고없이 삭제될 수 있습니다." class="org_vol_post_content_input" style="resize: none;" name="content" autofocus></textarea>
        <input type="submit" class="btn_single" value="등록하기"></input>
     
    </form>
</body>
</html>