<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" type="text/css" href="../static/css/reset.css">
        <!-- style.css 적용 안합니다. -->
        <link rel="stylesheet" type="text/css" href="../../css/org/org_login.css">
    </head>

    <body>
        <section class="main">
            <section class="org_login">
                <img src="/img/icon/icon_header_title.png" alt="해봉로고"></img>
                <p><span>회원 서비스 이용을 위해</span><span>로그인을 해주세요</span></p>
            </section>
        </section>
        <form action="org_login.html" method="get" class="org_login_form">
            <div class="org_login_form_input">
                <div class="org_login_item">
                    <label for="org_login_id" class="org_login_id_label">이메일</label>
                    <input type="text" id="org_login_id" class="org_login_input" placeholder="이메일을 입력해주세요">
                </div>
                <div class="org_login_item">
                    <label for="org_login_pwd" class="org_login_pwd_label">비밀번호</label>
                    <input type="text" id="org_login_pwd" class="org_login_input"
                        placeholder="8~20자리 (영 대/소문자, 숫자, 특수문자 조합) ">
                </div>
                <div class="org_login_service">
                    <a href="./pwd_change_auth.html" class="org_login_find_pwd">아이디 찾기</a>
                    <span>|</span>
                    <a href="./pwd_change_auth.html" class="org_login_find_pwd">비밀번호 찾기</a>
                    <span>|</span>
                    <a href="./signup.html" class="org_login_join">회원가입</a>
                </div>
            </div>

            <div class="org_login_confirm">
                <input type="submit" value="확인">
            </div>
        </form>
    </body>

</html>