<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/css/user/map_apply_modal.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css" />
    <title>map</title>
  </head>
  <body>
    <div class="map_apply_modal">
      <div class="modal_header">
        <img src="../../static/img/icon/white_close.svg" alt="창닫기아이콘">
      </div>

      <div class="modal_container">
        <div class="apply_modal_pic">
            <img src="../../static/img/user/user_modal_img.png" alt="봉사이미지">
        </div>
        <div class="apply_modal_about">
          <span>(주)행복나눔 봉사단</span>
          <span style="font-weight: bold;">골목 벽화그리기 봉사<br>서울시 마포구</span>
          <span>현재 위치로부터 500m</span>
        </div>  
        <span class="apply_modal_questions">신청 하시겠습니까?</span>
      </div>
      
      <div class="apply_modal_button">
          <a class="ap_btn_cancel">취소</a>
          <a class="ap_btn_apply">신청</a>
      </div>
      </div>
      
  </div>  
  </body>
</html>
