<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/reset.css" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link
      rel="stylesheet"
      href="../../css/user/member_edit.css"
      type="text/css"
    />
    <title>정보 수정</title>
  </head>
  <body>
    <header class="header">
      <div class="header1">
        <a href=""
          ><img src="../../img/icon/icon_header_back.png" alt="뒤로가기"
        /></a>
        <div>메뉴 이름</div>
        <a href=""
          ><img src="../../img/icon/icon_header_more.png" alt="더보기"
        /></a>
      </div>
    </header>

    <main class="main">
      <section class="member_edit_info">
        <div class="member_edit_info_box">
          <div class="member_edit_info_img">
            <img src="../../img/icon/icon_haedal.svg" alt="" />
          </div>
          <div class="member_edit_info_content">
            <div class="member_edit_info_content_name">
              <span>김범수</span>
              <button type="button" class="member_edit_info_content_name_icon">
                <img src="../../img/icon/icon_setting.svg" />
              </button>
            </div>
            <span>voemsu@gmail.com</span>
            <span></span>
          </div>
        </div>
      </section>
      <section class="member_edit_btn_box">
        <ul class="member_edit_btn_list">
          <li class="member_edit_btn">
            <div class="member_edit_btn_item">
              <span>비밀번호 변경하기</span
              ><button
                type="button
          "
              >
                <img
                  src="../../img/icon/icon_right_black.svg"
                  alt="우측화살표 아이콘"
                />
              </button>
            </div>
          </li>
          <li class="member_edit_btn">
            <div class="member_edit_btn_item">
              <span>핸드폰번호 변경하기</span
              ><button
                type="button
          "
              >
                <img
                  src="../../img/icon/icon_right_black.svg"
                  alt="우측화살표 아이콘"
                />
              </button>
            </div>
          </li>
        </ul>
      </section>
    </main>

    <nav class="nav_list">
      <ul>
        <li>
          <a href="#"
            ><img src="../../img/icon/icon_nav_home.png" alt="내브바아이콘1"
          /></a>
        </li>
        <li>
          <a
            ><img src="../../img/icon/icon_nav_map.png" alt="내브바아이콘2"
          /></a>
        </li>
        <li>
          <a
            ><img
              src="../../img/icon/icon_nav_community.png"
              alt="내브바아이콘3"
          /></a>
        </li>
        <li>
          <a
            ><img
              src="../../img/icon/icon_nav_category.png"
              alt="내브바아이콘4"
          /></a>
        </li>
        <li>
          <a
            ><img src="../../img/icon/icon_nav_mypage.png" alt="내브바아이콘5"
          /></a>
        </li>
      </ul>
    </nav>
  </body>
</html>
