<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>user_vol_recruit</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/user/vol_recruit.css" />
  </head>
  <body>
    <main class="main">
      <header class="header">
        <div class="header1">
          <a href=""
            ><img src="/img/icon/icon_header_back.png" alt="뒤로가기"
          /></a>
          <div>상세보기</div>
          <a href=""
            ><img src="/img/icon/icon_header_more.png" alt="더보기"
          /></a>
        </div>
      </header>

      <section class="user_vol_recruit_title">
        <img src="/img/user/map/map_modal.jpg" alt="이하늬봉사사진" />
        <section class="user_vol_recruit_title_box">
          <ul>
            <div>
              <li>
                서울 마포구<img
                  src="/img/icon/icon_heart.png"
                  alt="하트아이콘"
                />
              </li>
              <li>행복보육원 봉사자 구인합니다.</li>
              <li>(주)행복보육원 │ <span>1</span>시간전</li>
            </div>
          </ul>
        </section>
      </section>
      
      
      
      <ul class="user_vol_post_notice_box">
        <li><a href="#">고객센터 문의하기</a></li>
        <li><a href="#">봉사 참여 시 유의사항</a></li>
      </ul>
      <!---------------------------고객센터-------------------------------------->
      <nav class="nav_list" th:replace="~{inc/nav}"></nav>
      <!--------------------------------네비바---------------------------->
    </main>
  </body>
</html>
