<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회원탈퇴</title>
    <link rel="stylesheet" href="../../static/css/reset.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="../../static/css/user/withdrawal.css"
    />
  </head>
  <body>
    <main class="main">
      <header class="header">
        <ul class="org_header_top">
          <li class="org_header_top_li_1">
            <img
              src="../../static/img/icon/icon_header_back.png"
              alt="뒤로가기"
            />
          </li>
          <li class="org_header_top_li_2">
            <h1>회원탈퇴</h1>
          </li>
          <li class="org_header_top_li_3">
            <img
              src="../../static/img/icon/icon_header_more.png"
              alt="점세개아이콘"
            />
          </li>
        </ul>
      </header>
      <!-- 헤더 -->

      <section class="org_section_1">
        <img
          src="../../static/img/org/img_withdrawal.png"
          alt="회원탈퇴 이미지"
        />
      </section>
      <!-- 본문_1 -->

      <section class="org_section_2">
        <h3>탈퇴 사유 선택</h3>
        <ul class="org_section_2_list">
          <li>
            <input type="radio" name="answer" value="answer_1" />
            기록 삭제 목적
          </li>
          <li>
            <input type="radio" name="answer" value="answer_2" />
            서비스 이용이 불편해서
          </li>
          <li>
            <input type="radio" name="answer" value="answer_3" />
            다른 사이트가 더 좋아서
          </li>
          <li>
            <input type="radio" name="answer" value="answer_4" />
            사용 빈도가 낮아서
          </li>
          <li>
            <input type="radio" name="answer" value="answer_5" />
            기타
          </li>
        </ul>
        <input
          type="text"
          name="response"
          placeholder="기타 탈퇴 사유를 적어주세요."
        />
      </section>
      <!-- 본문_2 -->

      <input
        type="submit"
        value="확인"
        class="member_customer_service_input_submit"
      />
    </main>
  </body>
</html>
