main {
	background-color: #FEF8EA;
}

/* 카테고리 바 (홈, 참여해봉, 봉사후기, 일상/정보) */
.community_categorybar {
	display: flex;
	flex-direction: row;
	list-style: none;
	margin-left: 20px;
	padding-top: 20px;
	margin-bottom: 50px;
}

.community_categorybar>li>a {
	display: flex;
	/* Flex 컨테이너로 설정합니다. */
	flex-direction: column;
	align-items: center;
	/* 수직 가운데 정렬합니다. */
	justify-content: center;
	/* 수평 가운데 정렬합니다. */
}

.cate-list-bar {
	display: flex;
	/* Flex 컨테이너로 설정합니다. */
	width: 20px;
	height: 4px;
	background-color: black;
	margin-top: 15px;
}

.community_categorybar li {
	display: flex;
	flex-direction: row;
	margin-right: 30px;
}

.community_categorybar li a {
	display: block;
	text-align: center;
}

.community_categorybar li a img {
	max-width: 100%;
	height: auto;
}

/* 참여해봉 */
.section_planning_vol {
	display: flex;
	flex-direction: column;
}


/* 커뮤니티 홈, 전체 메인 간격 */
.community_main {
	padding-left: 20px;
	padding-right: 20px;
	background-color: #FEF8EA;
}

.community_main ul li {
	margin-bottom: 40px;
}

.section_planning_vol_img {
	display: flex;
	flex-direction: row;
}

.section_planning_vol>.community_section_title {
	padding: 10px;
	height: 70px;
	width: 100%;
}

.community_section_title_name {
	font-size: 20px;
	font-weight: bold;
}

.community_section_title_name_explane {
	font-size: 16px;
}

.section_planning_vol_img {
	display: flex;
	flex-direction: row;
	gap: 20px;
	overflow: auto;
}

/*.section_planning_vol {
  display: flex;
  flex-direction: row;
  overflow: auto;
}

.section_planning_vol::-webkit-scrollbar {
  display: none;
}
.section_planning_vol li {
  margin-right: 20px;
}*/





/* 행복한 해봉이네 */

.section_community_news>.community_section_title {
	width: 100%;
	padding-bottom: 10px;
}

.section_community_news::-webkit-scrollbar {
	display: none;
}

.section_community_news li {
	display: flex;
	flex-direction: column;
	margin-right: 20px;
}

.section_community_news li div {
	margin-top: 20px;
}

.section_community_news_box {
	padding-top: 10px;
	padding-bottom: 10px;
}

.section_community_news_title {
	font-size: 18px;
}

.section_community_news_date {
	font-size: 14px;
	color: gray;
}

/* 공지사항 */
.community_info_div {
	margin-bottom: 60px;
}




/* 게시글 */
.section_community_post {
	position: relative;
}

.section_community_post_img {
	position: absolute;
	height: 360px;
	width: 100%;
	border-radius: 16px;
	padding-bottom: 300px;
}

.section_community_post>.community_section_title {
	padding-bottom: 15px;
}

.community_post_detail_btn {
	position: absolute;
	right: 20px;
}

.section_community_post_txt {
	margin-top: 300px;
	position: absolute;
	z-index: 99;
}

.section_community_post_txt_top {
	padding-top: 10px;
	padding-bottom: 10px;
}

.section_community_post_txt_top>img {
	margin-right: 8px;
}

.section_community_post_txt_top>span {
	font-weight: bold;
	font-size: 18px;
}

.section_community_post_txt>p {
	padding-top: 10px;
	padding-bottom: 10px;
}

.community_post_img_user_profile {
	display: flex;
	flex-direction: row;
	padding: 15px;
}

.community_post_img_user_profile_img {
	position: absolute;
	z-index: 99;
	height: 46px;
	width: 46px;
	border-radius: 100px;
	background-image: url(../img/org/img_pwd_change.png);
}

.community_post_img_user_profile_txt span {
	color: white;
	opacity: 0.9;
	font-weight: lighter;
	font-size: 14px;
	margin-left: 60px;
}

.community_post_img_nums_icon {
	position: absolute;
	justify-content: center;
	align-items: center;
	padding: 20px;
	left: 50%;
	bottom: 0px;
}

.community_main_post_like_comment {
	display: flex;
	flex-direction: row;
	margin-top: 10px;
}

.community_main_post_like_comment div {
	margin-left: 10px;
}