/* ( 크롬, 사파리, 오페라, 엣지 ) 동작 */
.scroll::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #fffcf5;
}

.main {
  /*overflow-y: scroll;*/
  width: 430px;
  /* background-color: #fef8ea; */
  display: flex;
  flex-direction: column;
  -mss-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
      background-color: #FEF8EA;
}
.main::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 오페라, 엣지 */
}

/* User profile Section (user name, profile photo) */
.mypage_profile {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  padding-top: 40px;
  padding-bottom: 40px;
}
.profile_txt {
  position: relative;
  display: flex;
  text-align: center;
  flex-direction: column;
  font-size: 16px;
}
.profile_txt > .title {
  font-size: 14px;
}
.mypage_profile_name {
  font-weight: bold;
  color: #383838;
}
.mypage_profile > .profile_pic {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
}
.mypage_profile > .profile_pic > img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}

.pic > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*  */
.profile-img {
  border-radius: 100px;
}

#profile-img-input {
  display: none;
}

.icon.icon-plus.img-drop-zone {
  position: absolute;
  top: 184px;
  right: 136px;

  width: 26px;
  height: 26px;
  border-radius: 100px;
  cursor: pointer;
  background-color: rgb(201, 200, 200);

  background-image: url("/img/icon/edit_img.svg");
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: center center;
  transition: background-color 0.3s ease;
}

.icon.icon-plus.img-drop-zone:hover {
  background-color: rgb(139, 139, 139);
}

.profile-edit-form {
  width: 350px;
  height: 280px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-edit-section img {
  width: 110px;
  height: 110px;
  object-fit: cover;
}

.profile_pic {
  position: relative;
}

#profile-nickname-input {
  border: none;
  outline: none;

  padding: 5px;
  font-size: 18px;
  text-align: center;
  border-bottom: 1px solid #4d4d4d;
}

.img-input-div {
  display: flex;
}

.nickname-input-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.nickname-input-div span {
  font-size: 14px;
  color: #777777;
}

.content-command {
  display: flex;
  justify-content: center;
  padding: 14px;
  border-top: 1px solid #c5c5c5;
}

.content-command > button {
  border: 1px solid white;
  border-radius: 100px;
  box-shadow: 1px 1px 1px grey;
  margin-right: 5px;
  color: black;
}

.content-command > button:active {
  margin-left: 5px;
  margin-top: 5px;
  box-shadow: none;
}

/* -------------------------------- modal panel */

#profile-edit-btn {
  position: absolute;
  width: 22px;
  height: 22px;
  background-color: rgb(201, 200, 200);
  border-radius: 100px;
  border: none;
  cursor: pointer;
  background-image: url("/img/icon/edit_pencil.svg");
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: center center;

  right: 176px;
  top: -32px;
  transition: transform 0.5s ease;
  transition: background-color 0.5s ease;
}

#profile-edit-btn:hover {
  background-color: rgb(139, 139, 139);
  transform: scale(1.1);
}

/* -------------------------------- profile img edit btn */

.mypageCategory {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  justify-content: center;
}

.mypageCategory > ul {
  background-color: #ffffff;
  border-radius: 15px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  padding: 4px;
}

.mypageCategory > ul > li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  gap: 24px;
  list-style: none;
  text-align: center;
}

.mypageCategory > ul > li > a > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  transition: color 2s ease, background-color 1s ease;
}

.mypageCategory > ul > li > a > div:hover {
  background-color: rgba(255, 255, 0, 0.2);
  border-radius: 20px;
}

.mypageCategory > ul > li > a > div:not(:hover) {
  /* 호버가 아닐 때에도 radius 설정 */
  border-radius: 20px;
}

.mypageCategory > ul > li > a > div > span:first-child {
  font-size: 20px;
}

.mypageCategory > ul > li > a > div > span:nth-child(even) {
  font-size: 14px;
}
/* --------------------------------Category by mypage */

.my_post {
  display: flex;
  flex-direction: column;
  width: 390px;
  height: 250px;
  margin-left: 20px;
  margin-top: 20px;

  font-size: 18px;
  border-radius: 15px;
  background-color: #ffffff;
}

.mypage_mypost_title {
  margin-top: 20px;
  margin-left: 20px;
  position: relative;
}

.mypage_mypost_title > span {
  font-size: 16px;
}

.mypage_mypost_title > a > img {
  position: absolute;
  right: 10px;
}

.my_post > .mypage_mypost_img {
  margin-top: 20px;
  width: 360px;
  /* margin-left: 20px; */
  padding-left: 15px;

  height: 160px;
  display: flex;
  flex-direction: row;
  gap: 18px;
  white-space: nowrap;
  overflow: auto;
  /*  overflow-x: hidden;*/
}

.mypage_mypost_img > img {
  width: 130px;
  height: 130px;
}

.mypage_mypost_img::-webkit-scrollbar {
  display: none;
}

.my_post > .mypage_mypost_img > a > img {
  width: 140px;
  height: 140px;
  border-radius: 15px;
}

.my_post > .mypage_mypost_img > div > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ---------------------------------- my post section */

.cs {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 18px;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 20px;
}

.cs > span {
  font-size: 14px;
  text-align: center;
}

.cs > span > a {
  text-decoration: underline;
}

/*
.cs > a > div {
  display: flex;
  flex-direction: row;
  gap: 20px;
}*/

/*.cs > div > img {
  width: 30px;
  height: 30px;
}*/
