<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>community_home</title>
    <link rel="stylesheet" href="../static/css/reset.css" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="../static/css/community_main.css" />
  </head>
  <body>
    <!-- 헤더 ------------------------------------------------------------->
    <header class="header">
      <div class="header1">
        <a href=""
          ><img src="../static/img/icon/icon_header_back.png" alt="뒤로가기"
        /></a>
        <div>커뮤니티</div>
        <div>
          <img src="../static/img/icon/icon_header_more.png" alt="더보기" />
        </div>
      </div>
    </header>
    <!-- 헤더 ------------------------------------------------------------->

    <main class="main">
      <!-- 커뮤니티 카테고리바 ------------------------------------------------------------->
      <ul class="community_categorybar">
        <li>
          <a href="#">
            <img
              src="../static/img/icon/icon_community_category_home.svg"
              alt="홈"
            />
          </a>
        </li>
        <li>
          <a href="#">
            <img
              src="../static/img/icon/icon_community_category_planningvol.svg"
              alt="참여해봉"
            />
          </a>
        </li>
        <li>
          <a href="#"
            ><img
              src="../static/img/icon/icon_community_category_daily.svg"
              alt="봉사후기"
            />
          </a>
        </li>
        <li>
          <a href="#"
            ><img
              src="../static/img/icon/icon_community_category_reference.svg"
              alt="일상/정보"
            />
          </a>
        </li>
      </ul>
      <!---------------------------------------------------------------------->

      <section class="community_main">
        <ul>
          <li>
            <div class="community_section">
              <span class="community_section_title">TOP 참여해봉<br /></span>
              <span class="community_section_title_explane"
                >정기 활동으로 운영되고 있는 해봉 인기모임</span
              >
            </div>
            <ul class="section_planning_vol">
              <li>
                <a href="#"
                  ><img
                    src="../static/img/user/community/community_planninvol.png"
                    alt="TOP참여해봉1"
                /></a>
              </li>
              <li>
                <a href="#"
                  ><img
                    src="../static/img/user/community/community_planninvol.png"
                    alt="TOP참여해봉2"
                /></a>
              </li>
              <li>
                <a href="#"
                  ><img
                    src="../static/img/user/community/community_planninvol.png"
                    alt="TOP참여해봉3"
                /></a>
              </li>
              <li>
                <a href="#"
                  ><img
                    src="../static/img/user/community/community_planninvol.png"
                    alt="TOP참여해봉4"
                /></a>
              </li>
              <li>
                <a href="#"
                  ><img
                    src="../static/img/user/community/community_planninvol.png"
                    alt="TOP참여해봉5"
                /></a>
              </li>
            </ul>
          </li>
          <!---------------------------------------------------------------------->

          <li>
            <div class="community_section">
              <span class="community_section_title">행복한 해봉이네<br /></span>
              <span class="community_section_title_explane"
                >해봉 커뮤니티 공지사항&정보통</span
              >
            </div>
            <ul class="section_community_news">
              <li>
                <a href="#"
                  ><img
                    src="../static/img/user/community/community_info.png"
                    alt="공지사항1"
                /></a>
                <a href="#">
                  <div>
                    <span class="section_community_news_title"
                      >해봉 기획봉사 컨텐츠, 기획봉사란?<br
                    /></span>
                    <span class="section_community_news_date">2023.05.13</span>
                  </div>
                </a>
              </li>
              <li>
                <a href="#"
                  ><img
                    src="../static/img/user/community/community_info.png"
                    alt="공지사항1"
                /></a>
                <a href="#">
                  <div>
                    <span class="section_community_news_title"
                      >해봉 기획봉사 컨텐츠, 기획봉사란?<br
                    /></span>
                    <span class="section_community_news_date">2023.05.13</span>
                  </div>
                </a>
              </li>
              <li>
                <a href="#"
                  ><img
                    src="../static/img/user/community/community_info.png"
                    alt="공지사항1"
                /></a>
                <a href="#">
                  <div>
                    <span class="section_community_news_title"
                      >해봉 기획봉사 컨텐츠, 기획봉사란?<br
                    /></span>
                    <span class="section_community_news_date">2023.05.13</span>
                  </div>
                </a>
              </li>
            </ul>
            <div>
              <img
                src="../static/img/user/community/Frame 794.png"
                alt="넘기는 바..?"
              />
            </div>
          </li>

          <!-- 공지사항 ------------------------------------------------------>
          <li>
            <div class="community_section">
              <span class="community_section_title">공지사항<br /></span>
              <div class="community_info_div">
                <a href="#"
                  ><span class="community_info">
                    <공지> 해봉 커뮤니티 공지사항입니다.
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2023.05.21<br /></span
                ></a>
                <a href="#"
                  ><span class="community_info">
                    <공지> 해봉 커뮤니티 공지사항입니다.
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2023.05.21<br /></span
                ></a>
                <a href="#"
                  ><span class="community_info">
                    <공지> 해봉 커뮤니티 공지사항입니다.
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2023.05.21<br /></span
                ></a>
              </div>
            </div>
          </li>
          <!-- 나중에 날짜는 디브로 때려서 스페이스 비트윈 -->

          <!-- 게시글 ------------------------------------------------------>
          <li>
            <div class="community_section">
              <span class="community_section_title">봉사후기<br /></span>
              <span class="community_section_title_explane"
                >해봉이들의 따듯한 후기</span
              >
            </div>
            <ul class="section_community_post">
              <li>
                <div class="section_community_post_img">
                  <a href="#">
                    <div class="community_post_img_user_profile">
                      <div class="community_post_img_user_profile_img"></div>
                      <div class="community_post_img_user_profile_txt">
                        <span>문래동불주먹<br /></span>
                        <span>3시간 전</span>
                      </div>
                    </div>
                  </a>

                  <div class="community_post_img_nums_icon"></div>

                  <a class="community_post_detail_btn" href="#"
                    ><img
                      src="../static/img/icon/icon_more_3dot_white.svg"
                      alt="더보기아이콘"
                    />
                  </a>
                </div>
                <div class="section_community_post_txt">
                  <a href="#"
                    ><span class="section_community_post_txt_title">
                      서.글.봉 희망 도시락 나눔 봉사❤️<br /></span
                  ></a>
                  <a href="#"
                    ><p>
                      이번 저희 서울 글로벌 봉사단의 활동은 영등포구 희망 무료
                      급식소에서 진행된 도시락 나눔봉사 행사에서 도시락 만들기,
                      도시락 배달 봉사를 실시했습니다!! 생각보다 많은 인원..
                    </p></a
                  >
                  <a href="#">
                    <div class="community_main_post_like_comment">
                      <div>
                        <img
                          src="../static/img/icon/icon_community_home_like.svg"
                          alt="좋아요아이콘"
                        /><span>17</span>
                      </div>
                      <div>
                        <img
                          src="../static/img/icon/icon_community_home_comment.svg"
                          alt="댓글아이콘"
                        /><span>8</span>
                      </div>
                    </div>
                  </a>
                </div>
              </li>
              <li>
                <div class="section_community_post_img">
                  <a href="#">
                    <div class="community_post_img_user_profile">
                      <div class="community_post_img_user_profile_img"></div>
                      <div class="community_post_img_user_profile_txt">
                        <span>문래동불주먹<br /></span>
                        <span>3시간 전</span>
                      </div>
                    </div>
                  </a>

                  <div class="community_post_img_nums_icon"></div>

                  <a class="community_post_detail_btn" href="#"
                    ><img
                      src="../static/img/icon/icon_more_3dot_white.svg"
                      alt="더보기아이콘"
                    />
                  </a>
                </div>

                
                <div class="section_community_post_txt">
                  <a href="#"
                    ><span class="section_community_post_txt_title">
                      서.글.봉 희망 도시락 나눔 봉사❤️<br /></span
                  ></a>
                  <a href="#"
                    ><p>
                      이번 저희 서울 글로벌 봉사단의 활동은 영등포구 희망 무료
                      급식소에서 진행된 도시락 나눔봉사 행사에서 도시락 만들기,
                      도시락 배달 봉사를 실시했습니다!! 생각보다 많은 인원..
                    </p></a
                  >
                  <a href="#">
                    <div class="community_main_post_like_comment">
                      <div>
                        <img
                          src="../static/img/icon/icon_community_home_like.svg"
                          alt="좋아요아이콘"
                        /><span>17</span>
                      </div>
                      <div>
                        <img
                          src="../static/img/icon/icon_community_home_comment.svg"
                          alt="댓글아이콘"
                        /><span>8</span>
                      </div>
                    </div>
                  </a>
                </div>


              </li>
              <li>
                <div class="section_community_post_img">
                  <a href="#">
                    <div class="community_post_img_user_profile">
                      <div class="community_post_img_user_profile_img"></div>
                      <div class="community_post_img_user_profile_txt">
                        <span>문래동불주먹<br /></span>
                        <span>3시간 전</span>
                      </div>
                    </div>
                  </a>

                  <div class="community_post_img_nums_icon"></div>

                  <a class="community_post_detail_btn" href="#"
                    ><img
                      src="../static/img/icon/icon_more_3dot_white.svg"
                      alt="더보기아이콘"
                    />
                  </a>
                </div>
                <div class="section_community_post_txt">
                  <a href="#"
                    ><span class="section_community_post_txt_title">
                      서.글.봉 희망 도시락 나눔 봉사❤️<br /></span
                  ></a>
                  <a href="#"
                    ><p>
                      이번 저희 서울 글로벌 봉사단의 활동은 영등포구 희망 무료
                      급식소에서 진행된 도시락 나눔봉사 행사에서 도시락 만들기,
                      도시락 배달 봉사를 실시했습니다!! 생각보다 많은 인원..
                    </p></a
                  >
                  <a href="#">
                    <div class="community_main_post_like_comment">
                      <div>
                        <img
                          src="../static/img/icon/icon_community_home_like.svg"
                          alt="좋아요아이콘"
                        /><span>17</span>
                      </div>
                      <div>
                        <img
                          src="../static/img/icon/icon_community_home_comment.svg"
                          alt="댓글아이콘"
                        /><span>8</span>
                      </div>
                    </div>
                  </a>
                </div>
              </li>
            </ul>
          </li>
          <!---------------------------------------------------------------------->
        </ul>
      </section>

      <!-- 내브바 ------------------------------------------------------------->
      <nav class="nav_list">
        <ul>
          <li>
            <a
              ><img
                src="../static/img/icon/icon_nav_home.png"
                alt="내브바아이콘1"
            /></a>
          </li>
          <li>
            <a
              ><img
                src="../static/img/icon/icon_nav_map.png"
                alt="내브바아이콘2"
            /></a>
          </li>
          <li>
            <a
              ><img
                src="../static/img/icon/icon_nav_community.png"
                alt="내브바아이콘3"
            /></a>
          </li>
          <li>
            <a
              ><img
                src="../static/img/icon/icon_nav_category.png"
                alt="내브바아이콘4"
            /></a>
          </li>
          <li>
            <a
              ><img
                src="../static/img/icon/icon_nav_mypage.png"
                alt="내브바아이콘5"
            /></a>
          </li>
        </ul>
      </nav>
      <!---------------------------------------------------------------------->
    </main>
    <script src="../static/js/community.js" defer="defer"></script>
  </body>
</html>
