<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <link rel="stylesheet" href="/css/reset.css" type="text/css" />
    <link rel="stylesheet" href="/css/complete_signup.css" type="text/css" />
    <title>회원가입 완료</title>
  </head>
  <body>
    <main class="main">
		<div class="container">
			<span class="title" >해봉의 가족이 되신걸 환영합니다!</span>
			<a href="/user_signin" class="btn"><div class="btn_span"><span>지금 바로 함께해봉! </span></div></a>
		</div>
    </main>
  </body>
</html>
