<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/login.css" type="text/css" />
    <title>로그인 페이지</title>
  </head>
  <body>
    <section class="main" id="a">
      <div class="alpha">
        <div class="total">
          <div class="box">
            <img src="/img/icon/icon_login_logo.png" />
            <p>
              세상을 이끄는 우리들의<br />
              행복나눔 플랫폼
            </p>
            <div class="textLine">
              <img
                src="/img/icon/icon_check_blue.svg"
                alt="체크"
                class="icon_check"
              /><span>봉사를 일상으로</span>
            </div>

            <div class="textLine">
              <img
                src="/img/icon/icon_check_blue.svg"
                alt="체크"
                class="icon_check"
              /><span>국내 최대 봉사활동 커뮤니티</span>
            </div>
          </div>
          <div class="href">
            <div class="login">
              <a href="/login?p=kakao"
                ><img
                  src="/img/button/button_kakaoLogin.png"
                  alt="카카오 로그인"
              /></a>
              <a href="/login?p=google"
                ><img
                  src="/img/button/button_googleLogin.png"
                  alt="구글 로그인"
              /></a>
            </div>
            <div class="text">
              <div>
                <a href="/login">로그인 </a>|
                <a href="/user_signup">회원가입</a>
              </div>
              <a href="/org_signin">기업회원 이신가요?</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
