<!DOCTYPE html>
<html lang="en" 
      xmlns:th="http://www.thymeleaf.org" 
      >

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>user_map_main</title>
	<link rel="stylesheet" type="text/css" href="/css/reset.css" />
	<link rel="stylesheet" type="text/css" href="/css/map_main.css" />
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
	<script src="https://t1.kakaocdn.net/kakao_js_sdk/2.1.0/kakao.min.js"
		integrity="sha384-dpu02ieKC6NUeKFoGMOKz6102CLEWi9+5RQjWSV0ikYSFFd8M3Wp2reIcquJOemx"
		crossorigin="anonymous"></script>
	<script type="text/javascript"
		src="//dapi.kakao.com/v2/maps/sdk.js?appkey=cdd769767a8d37978024eb6efb6073d8&libraries=services"></script>
</head>

<body>
	<main class="main">
		<header class="header">
			<div class="header1">
				<a href="/"><img src="/img/icon/icon_header_back.png" alt="뒤로가기" /></a>
				<div>해봉여지도</div>
				<div>
					<img src="/img/icon/icon_header_more.png" alt="더보기" />
				</div>
			</div>
		</header>

		<script th:inline="javascript">
			//  변수에 데이터를 할당
			var oData = /*[[${ol}]]*/ null;
			var dData = /*[[${dl}]]*/ null;
		</script>

		<!--지도-->
		<div id="map" style="width: 430px; height: 772px">

			<!--검색창/포스트 매핑 구현 예정-->
			<div class="map_bar">
				<form action="main" method="get">
					<img src="/img/icon/icon_header_map.png" alt="지도아이콘" />
					<input type="text" placeholder="찾으시는 봉사를 검색해주세요" name="search"/>
				</form>
				</section>
			</div>

		

			<section class="map_category_box">
				<div class="map_category_box_title" type="button">카테고리</div>
				<ul class="category_list" th:each="d:${dl}">
				
					<a href="/map/main/name=서울" th:href="@{/map/main(name=${d.name})}">
						<li th:text="${d.name}">서울특별시</li>
					</a>
				
				</ul>
		</div>

		<script src="/js/map.js"></script>


		<nav class="nav_list" th:replace="~{inc/nav}">
		</nav>

	</main>
</body>

</html>
