<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/user/map_apply_modal.css">
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>map</title>
  </head>
  <body>
    <div class="map_apply_modal">
      <div class="modal_header">
        <img src="/img/icon/white_close.svg" alt="" />
      </div>
      <div class="modal_container">
        <div class="apply_modal_contents">
        <div class="apply_modal_pic">
            <img src="/img/user/map/map_modal.jpg" alt="">
        </div>
        <div class="apply_modal_about">
          <div>행복 보육원 봉사자 모집</div>
          <div>5월 13일(월)<br>14:00~16:00</div>
        </div>
    </div>
    <div class="apply_modal_comment">
        <span>이규희 / 30세(여)</span>
        <span><br>승인 하시겠습니까?</span>
    </div>
    </div>
    <div class="apply_modal_button">
        <a class="ap_btn_cancel">취소</a>
        <a class="ap_btn_apply">승인</a>
    </div>
  </body>
</html>
