<!DOCTYPE html>
<html
  lang="en"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/mypage.css" />
    <script src="/js/components/modal-alert.js" defer></script>
    <script src="/js/components/modal-panel.js" defer></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"></script>
    <script src="/js/user/calender.js" defer></script> -->
    <script defer>
      window.addEventListener("load", function () {
        let mypageCategory = document.querySelector(".mypageCategory");

        let modalAlert = document.querySelector("modal-alert");
        let modalPanel = document.querySelector("modal-panel");
        let profileImgInput = document.querySelector("#profile-img-input");
        let nicknameInput = document.getElementById("#profile-nickname-input");
        let myPostPlusIcon = document.querySelector(".mypage_mypost_title");
        let profileEditBtn = document.querySelector("#profile-edit-btn");
        let getId = document.querySelector(".get-id");
        let profileImg = document.querySelector(".profile-img");

        // 비회원 상태 시 로그인 후 이용 모달
        mypageCategory.onclick = function (e) {
          if (!mypageCategory.classList.contains("isAnonymous")) return;
          e.preventDefault();
          modalAlert.show(true);
        };

        myPostPlusIcon.onclick = function (e) {
          if (!myPostPlusIcon.classList.contains("isAnonymous")) return;

          e.preventDefault();
          modalAlert.show(true);
        };

        // 회원 로그인 시 프로필 수정 모달
        profileEditBtn.onclick = function (e) {
          modalPanel.show(true);
        };

        profileImgInput.oninput = function (e) {
          let file = e.target.files[0];
          let reader = new FileReader();
          reader.onload = function (event) {
            profileImg.src = event.target.result;
          };
          reader.readAsDataURL(file);
        };

        let btnCancel = document.querySelector(".btn-cancel");
        btnCancel.onclick = function (e) {
          modalPanel.show(false);
        };

        let btnSubmmit = document.querySelector(".btn-submmit");
        btnSubmmit.onclick = () => {
          // 프로필 사진 변경
          let profileImgInput = document.querySelector("#profile-img-input");

          let file = profileImgInput.files[0];
          if (file) {
            let formData = new FormData();

            formData.append("file", file);

            fetch(`/api/file/user/${getId.value}/image`, {
              method: "PUT",
              body: formData,
            })
              .then((response) => response.text())
              .then((url) => {
                let imgTag = document.querySelector(
                  ".user-profile-image-log-in"
                );
                imgTag.src = url;
              });
          }

          // 닉네임 변경
          let inputNickname = document.querySelector(
            "#profile-nickname-input"
          ).value;
          let userNickname = document.querySelector(".mypage_profile_name")
            .dataset.nickname;

          let formData = new FormData();
          formData.append("userNickname", inputNickname);

          if (inputNickname != userNickname) {
            fetch(`/api/user/${getId.value}/nickname`, {
              method: "PUT",
              body: formData,
            })
              .then((response) => response.json())
              .then((user) => {
                let userNicknameTag = document.querySelector(
                  ".mypage_profile_name"
                );
                userNicknameTag.textContent = user.nickname;
                setTimeout(() => {
                  modalPanel.show(false);
                }, 250);
              });
          }
        };

        // ------------------------ 가입일 / 봉사횟수 카운트 -----
        // 가입일로부터 경과한 일수 계산
        let signupDateString = document.querySelector(".get-signup-date").value;
        let signupDate = new Date(signupDateString);
        let currentDate = new Date();
        let timeDiff = Math.abs(currentDate.getTime() - signupDate.getTime());
        let daysCount = Math.ceil(timeDiff / (1000 * 3600 * 24));

        // HTML에서 일 수 업데이트
        let daysCountElement = document.getElementById("daysCount");
        daysCountElement.textContent = daysCount;
      });
    </script>
    <title>마이페이지</title>
  </head>

  <body>
    <header class="header">
      <div class="header1">
        <a href="/category_main">
          <img src="/img/icon/icon_header_back.png" alt="뒤로가기" />
        </a>
        <div>마이페이지</div>
        <div></div>
      </div>
    </header>

    <main class="main">
      <!-- 유저 프로필 ----------------------------------------------------- -->
      <section class="mypage_profile">
        <input
          sec:authorize="isAuthenticated()"
          class="get-id"
          type="hidden"
          th:value="${user.id}"
        />
        <input
          sec:authorize="isAuthenticated()"
          class="get-signup-date"
          type="hidden"
          th:value="${user.signupDate}"
        />
        <div sec:authorize="isAnonymous()" class="profile_pic">
          <img src="/img/user/nonUserpic.png" />
        </div>

        <div sec:authorize="isAuthenticated()" class="profile_pic">
          <img
            th:src="${user.profilePhoto}"
            class="user-profile-image-log-in"
          />
        </div>

        <div class="profile_txt">
          <p>
            <span sec:authorize="isAnonymous()" class="mypage_profile_name"
              >회원</span
            >

            <span
              sec:authorize="isAuthenticated()"
              class="mypage_profile_name"
              th:data-nickname="${user.nickname}"
              th:text="${user.nickname}"
              >회원</span
            ><span> 님</span>
          </p>
          <button
            sec:authorize="isAuthenticated()"
            id="profile-edit-btn"
          ></button>
          <p class="title">가치있는 일상 같이 만들어요!</p>
        </div>
      </section>

      <section class="mypage_guide">
        <a><img src="/img/org/org_guide.png" alt="" /></a>
      </section>

      <!-- 마이페이지 카테고리 ----------------------------------------------------- -->

      <section sec:authorize="isAnonymous()" class="mypageCategory isAnonymous">
        <ul>
          <li>
            <a href="#">
              <div>
                <span>📝<br /></span>
                <span>신청관리</span>
              </div>
            </a>
            <a href="#">
              <div>
                <span>❤️<br /></span>
                <span>찜한봉사</span>
              </div>
            </a>
            <a href="#">
              <div>
                <span>📣<br /></span>
                <span>달력</span>
              </div>
            </a>
            <a href="#">
              <div>
                <span>⚙️<br /></span>
                <span>내 정보</span>
              </div>
            </a>
          </li>
        </ul>
      </section>

      <section sec:authorize="isAuthenticated()" class="mypageCategory">
        <ul>
          <li>
            <a href="/user/myapply">
              <div>
                <span>📝<br /></span>
                <span>신청관리</span>
              </div>
            </a>
            <a href="/user/vol_wish_list">
              <div>
                <span>❤️<br /></span>
                <span>찜한봉사</span>
              </div>
            </a>
            <a href="/user/calender">
              <div>
                <span>📣<br /></span>
                <span>달력</span>
              </div>
            </a>
            <a href="/user/myapply">
              <div>
                <span>⚙️<br /></span>
                <span>내 정보</span>
              </div>
            </a>
          </li>
        </ul>
      </section>

      <!-- 나의 게시글 ----------------------------------------------------- -->

      <section sec:authorize="isAnonymous()" class="my_post">
        <div class="mypage_mypost_title isAnonymous" id="imageContainer">
          <span>나의 게시글 </span>
          <a href="#"><img src="/img/icon/icon_plus.png" /></a>
        </div>
        <div class="mypage_mypost_img">
          <img src="/img/user/emptyImage.png" alt="게시글1" />
          <img src="/img/user/emptyImage.png" alt="게시글1" />
          <img src="/img/user/emptyImage.png" alt="게시글1" />
        </div>

        <!--  -->
      </section>

      <section sec:authorize="isAuthenticated()" class="my_post">
        <div class="mypage_mypost_title" id="imageContainer">
          <span>나의 게시글 </span>
          <a href="#"><img src="/img/icon/icon_plus.png" /></a>
        </div>
        <div class="mypage_mypost_img">
          <a th:href="${p.id}" th:each="p:${mypic}"
            ><img src="" th:src="${p.url}" alt="게시글1"
          /></a>
        </div>
      </section>

      <!-- 해봉과 함께한지 -----------ss------------------------------------------ -->
      <section sec:authorize="isAnonymous()" class="cs">
        <span
          >해봉과 함께해 주세요 ! 😊<br />
          <a href="/user_signin"> 지금 로그인하기</a></span
        >
      </section>

      <section sec:authorize="isAuthenticated()" class="cs">
        <span
          ><span th:text="${user.name}">회원</span>님이 해봉과 함께한지💛
          <span id="daysCount"></span>일<br
        /></span>
        <span
          ><span th:text="${user.name}">회원</span>님이 해봉을 통해 함께한
          봉사🤝 <span th:text="${countAV}"></span>회</span
        >
      </section>
      <modal-alert
        class="d-none"
        data-show="false"
        data-title="알림"
        data-content="로그인 후 이용해 주세요"
      >
        <div slot="content"></div>
      </modal-alert>

      <modal-panel
        class="d-none"
        data-title="프로필 수정"
        data-show="false"
        data-submmit="적용"
      >
        <section class="profile-edit-section" slot="content">
          <form class="profile-edit-form">
            <img
              th:if="${user}"
              th:src="${user.profilePhoto}"
              class="profile-img"
              src="/img/user/nonUserpic.png"
              alt=""
            />
            <div class="img-input-div">
              <label
                for="profile-img-input"
                class="icon icon-plus img-drop-zone"
              ></label>
              <input type="file" alt="사진 변경" id="profile-img-input" />
            </div>

            <div sec:authorize="isAuthenticated()" class="nickname-input-div">
              <input
                type="text"
                alt="닉네임 변경"
                id="profile-nickname-input"
                th:value="${user.nickname}"
              />
              <span>한글/영문/숫자 포함 10자 이내</span>
            </div>
          </form>
          <div class="content-command">
            <button class="btn-cancel">취소</button>
            <button type="submit" class="btn-submmit">적용</button>
          </div>
        </section>
      </modal-panel>
    </main>
    <nav class="nav_list" th:replace="~{inc/nav}"></nav>
  </body>
</html>
