<!DOCTYPE html>
<html
  lang="en"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/mypage.css" />
    <script src="/js/user_mypage.js" defer></script>

    <title>마이페이지</title>
  </head>
  <body>
    <header class="header">
      <div class="header1">
        <a href=""
          ><img src="../../img/icon/icon_header_back.png" alt="뒤로가기"
        /></a>
        <div>마이페이지</div>
        <a href=""
          ><img src="../../img/icon/icon_header_more.png" alt="더보기"
        /></a>
      </div>
    </header>

    <main class="main">
      <section class="mypage_profile">
        <div class="profile_txt">
          <p class="title">가치있는 일상 같이 만들어요!</p>
          <p><span class="mypage_profile_name">회원</span><span> 님</span></p>
          <p>
            <span>오늘로 함께한지 </span><span class="d_day_cnt1"> </span
            ><span> 일</span>
          </p>
        </div>
        <div class="profile_pic">
          <img th:src="@{${userProfilePhoto.profilePhoto}}" alt="" />
          <a href="">프로필 수정</a>
        </div>
      </section>

      <section class="mypage_guide">
        <a><img src="/img/org/org_guide.png" alt="" /></a>
      </section>

      <section class="mypageCategory">
        <ul>
          <li>
            <a th:href="@{user/myapply?uid=1}">
              <div>
                <span>📝<br /></span>
                <span>신청관리</span>
              </div>
            </a>
            <a href="login">
              <div>
                <span>❤️<br /></span>
                <span>찜한봉사</span>
              </div>
            </a>
            <a href="login">
              <div>
                <span>📣<br /></span>
                <span>고객지원</span>
              </div>
            </a>
            <a href="login">
              <div>
                <span>⚙️<br /></span>
                <span>정보수정</span>
              </div>
            </a>
          </li>
        </ul>
      </section>

      <section class="my_post">
        <div class="mypage_mypost_title" id="imageContainer">
          <span>나의 게시글 > </span>
          <img src="/img/icon/icon_plus.png" />
        </div>
        <div class="mypage_mypost_img">
          <a th:href="@{${p.url}}" th:each="p:${mypic}"
            ><img src="@{p.url}" th:src="@{${p.url}}" alt="게시글1"
          /></a>
        </div>
      </section>

      <section class="cs">
        <span>김범수님이 해봉과 함께한지💛 일<br /></span>
        <span>김범수님이 해봉을 통해 함께한 봉사🤝 회</span>
      </section>
    </main>
    <nav class="nav_list" th:replace="~{inc/nav}"></nav>
  </body>
</html>
