<!DOCTYPE html>
<html
  lang="en"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/mypage.css" />
    <script src="/js/components/modal-alert.js" defer></script>
    <script defer>
      window.addEventListener("load", function () {
        let mypageCategory = document.querySelector(".mypageCategory");
        let modalAlert = document.querySelector("modal-alert");

        console.log(modalAlert);

        let myPostPlusIcon = document.querySelector(".mypage_mypost_title");

        mypageCategory.onclick = function (e) {
          if (!mypageCategory.classList.contains("isAnonymous")) return;
          e.preventDefault();
          modalAlert.show(true);
        };

        myPostPlusIcon.onclick = function (e) {
          console.log(e.target.classList);
          if (!myPostPlusIcon.classList.contains("isAnonymous")) return;

          e.preventDefault();
          modalAlert.show(true);
        };
      });
    </script>

    <title>마이페이지</title>
  </head>
  <body>
    <header class="header">
      <div class="header1">
        <a href=""
          ><img src="../../img/icon/icon_header_back.png" alt="뒤로가기"
        /></a>
        <div>마이페이지</div>
        <a href=""
          ><img src="../../img/icon/icon_header_more.png" alt="더보기"
        /></a>
      </div>
    </header>

    <main class="main">
      <section class="mypage_profile">
        <div class="profile_txt">
          <p class="title">가치있는 일상 같이 만들어요!</p>
          <p>
            <span sec:authorize="isAnonymous()" class="mypage_profile_name"
              >회원</span
            >

            <span
              sec:authorize="isAuthenticated()"
              class="mypage_profile_name"
              th:text="${user.name}"
              >회원</span
            ><span> 님</span>
          </p>
        </div>

        <!-- 유저 프로필 사진 ----------------------------------------------------- -->

        <div sec:authorize="isAnonymous()" class="profile_pic">
          <img src="/img/user/nonUserpic.png" />
        </div>
      </section>

      <div sec:authorize="isAuthenticated()" class="profile_pic">
        <img th:src="@{${user.profilePhoto}}"   />
      <a href="#">프로필 수정</a>
     </div>
    </section>

      <section class="mypage_guide">
        <a><img src="/img/org/org_guide.png" alt="" /></a>
      </section>

      <!-- 마이페이지 카테고리 ----------------------------------------------------- -->

      <section sec:authorize="isAnonymous()" class="mypageCategory isAnonymous">
        <ul>
          <li>
            <a href="#">
              <div>
                <span>📝<br /></span>
                <span>신청관리</span>
              </div>
            </a>
            <a href="#">
              <div>
                <span>❤️<br /></span>
                <span>찜한봉사</span>
              </div>
            </a>
            <a href="#">
              <div>
                <span>📣<br /></span>
                <span>달력</span>
              </div>
            </a>
            <a href="#">
              <div>
                <span>⚙️<br /></span>
                <span>내 정보</span>
              </div>
            </a>
          </li>
        </ul>
      </section>

      <section sec:authorize="isAuthenticated()" class="mypageCategory">
        <ul>
          <li>
            <a href="/user/myapply">
              <div>
                <span>📝<br /></span>
                <span>신청관리</span>
              </div>
            </a>
            <a href="/user/vol_wish_list">
              <div>
                <span>❤️<br /></span>
                <span>찜한봉사</span>
              </div>
            </a>
            <a href="#">
              <div>
                <span>📣<br /></span>
                <span>달력</span>
              </div>
            </a>
            <a href="/user/myapply">
              <div>
                <span>⚙️<br /></span>
                <span>내 정보</span>
              </div>
            </a>
          </li>
        </ul>
      </section>

      <!-- 나의 게시글 ----------------------------------------------------- -->

      <section sec:authorize="isAnonymous()" class="my_post">
        <div class="mypage_mypost_title isAnonymous" id="imageContainer">
          <span>나의 게시글 </span>
          <a href="#"><img src="/img/icon/icon_plus.png" /></a>
        </div>
        <div class="mypage_mypost_img">
          <img src="/img/user/emptyImage.png" alt="게시글1" />
          <img src="/img/user/emptyImage.png" alt="게시글1" />
          <img src="/img/user/emptyImage.png" alt="게시글1" />
        </div>

        <!--  -->
      </section>

      <section sec:authorize="isAuthenticated()" class="my_post">
        <div class="mypage_mypost_title" id="imageContainer">
          <span>나의 게시글 </span>
          <a href="#"><img src="/img/icon/icon_plus.png" /></a>
        </div>
        <div class="mypage_mypost_img">
          <a th:href="@{${p.url}}" th:each="p:${mypic}"
            ><img src="@{p.url}" th:src="@{${p.url}}" alt="게시글1"
          /></a>
        </div>
      </section>

      <!-- 해봉과 함께한지 ----------------------------------------------------- -->
      <section sec:authorize="isAnonymous()" class="cs">
        <span
          >해봉과 함께해 주세요 ! 😊<br />
          <a href="/user_signin"> 지금 로그인하기</a></span
        >
      </section>

      <section sec:authorize="isAuthenticated()" class="cs">
        <span
          ><span th:text="${user.name}">회원</span>님이 해봉과 함께한지💛 일<br
        /></span>
        <span
          ><span th:text="${user.name}">회원</span>님이 해봉을 통해 함께한
          봉사🤝 회</span
        >
      </section>
      <modal-alert
        class="d-none"
        data-show="false"
        data-title="알림"
        data-content="로그인 후 이용해 주세요"
      >
        <div slot="content"></div>
      </modal-alert>
    </main>
    <nav class="nav_list" th:replace="~{inc/nav}"></nav>
  </body>
</html>
