<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로그인</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css" />
    <!-- style.css 적용 안합니다. -->
    <link rel="stylesheet" type="text/css" href="/css/signin.css" />
  </head>

  <body>
    <section class="main">
      <section class="org_login">
        <img src="/img/icon/icon_header_title.png" alt="해봉로고" />
        <p>
          <span>기업 회원 서비스 이용을 위해</span><span>로그인을 해주세요</span>
        </p>
      </section>
    </section>
    
    <div th:if="${param.error}" style="color: red; margin-left: 30px;">
						사업자 등록번호 또는 비밀번호가 일치하지않습니다.
	</div>
	
    <form action="org_signin" method="post" class="org_login_form">
      <div class="org_login_form_input">
        <div class="org_login_item">
          <label for="org_login_id" class="org_login_id_label">사업자 등록번호</label>
          <input
            type="text"
            id="org_login_id"
            class="org_login_input"
            name="regNum"
            placeholder="사업자 등록번호를 입력해 주세요"
          />
        </div>
        <div class="org_login_item">
          <label for="org_login_pwd" class="org_login_pwd_label"
            >비밀번호</label
          >
          <input
            type="password"
            id="org_login_pwd"
            class="org_login_input"
            name="pwd"
            placeholder="8~20자리 (영 대/소문자, 숫자, 특수문자 조합) "
          />
        </div>
        <div class="org_login_service">
          <a href="#" class="org_login_find_pwd"
            >아이디 찾기</a
          >
          <span>|</span>
          <a href="org_find_pwd" class="org_login_find_pwd"
            >비밀번호 찾기</a
          >
          <span>|</span>
          <a href="org_signup" class="org_login_join">우리 기관 등록하기 (회원가입)</a>
        </div>
      </div>

      <input type="submit" value="확인" class="org_login_confirm" />
    </form>
  </body>
</html>
