<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="/css/reset.css" />
	<link rel="stylesheet" href="/css/style.css" />
	<link rel="stylesheet" href="/css/post_detail.css" />
</head>

<body>
	<!-- 헤더 ------------------------------------------------------------->
	<header class="header">
		<div class="header1">
			<a href=""><img src="/img/icon/icon_header_back.png" alt="뒤로가기" /></a>
			<div>커뮤니티</div>
			<div>
				<img src="/img/icon/icon_header_more.png" alt="더보기" />
			</div>
		</div>
	</header>
	<!-- 헤더 ------------------------------------------------------------->
	<main class="main">
		<!-- 커뮤니티 게시글 섹션 -->
		<section class="post-section">
			<!--게시글 작성자 정보 섹션 -->
			<div class="writer-section">
				<div class="writer-info">
					<img src="/img/user/community/유저 프로필 사진.png" th:src="${post.userProfilePhoto}" alt="프로필이미지">
					<div class="writer-detail">
						<div class="writer-detail-name" th:text="${post.userNickname}">문래동불주먹</div>
						<div class="writer-detail-regdate" th:text="${#temporals.format(post.postDate, 'yyyy-MM-dd HH:mm')}">2023-05-25</div>
					</div>
				</div>
				<div class="more-btn"><img src="/img/icon/icon_header_more.png" alt="더보기아이콘"></div>
			</div>
			<!--------------------->
			<!--게시글 내용 -->
			<div class="content-section">
				<div class="content-section-img">
					<img src="/img/user/community/community_main_post.png" alt="본문 이미지">
				</div>
				<div class="content-title-section">
					<div class="content-title" th:text="${post.postTitle}">
					미리네 댕댕이 보호소 봉사 후기
					</div>
					<div class="category" th:text="${post.postCategoryName}"></div>
				</div>	
				<div class="content-text" th:text="${post.postContent}">오늘은 관악구에 있는 미리네 댕댕이 보호소로 봉사
					를 갔다! 센터도 너무 깨끗하게 관리가 잘 되어있오늘은 관악구에 있는 미리네 댕댕이 보호소로 봉사
					를 갔다! 센터도 너무 깨끗하게 관리가 잘 되어있오늘은 관악구에 있는 미리네 댕댕이 보호소로 봉사
					를 갔다! 센터도 너무 깨끗하게 관리가 잘 되어있오늘은 관악구에 있는 미리네 댕댕이 보호소로 봉사
					를 갔다! 센터도 너무 깨끗하게 관리가 잘 되어있
				</div>
			</div>
			<!--------------------->
			<!--좋아요 정보  -->
			<div class="like-section">
				<img src="/img/icon/icon_community_like.svg" alt="하트">
				<span>좋아요</span>
				<span class="like" th:text="${post.likesCount}">17</span>
			</div>
			<!--------------------->
		</section>

		<!--------------------->
		<div class="separator"></div>
		<!--------------------->
		<section class="comment-section">
			<div class="comment-input" >
				<textarea name="comment" placeholder="댓글을 입력해주세요"></textarea>
				<div class="comment-submit">댓글쓰기</div>
			</div>
			<div class="comment-number">
				<span>댓글&nbsp;&nbsp;</span>
				<span th:text="${post.commentsCount}">0</span>
			</div>
			<div class="comment-outer">
				<section class="comment" th:each="comment:${commentList}">
					<div class="comment-content">
						<div class="comment-writer">
							<img src="/img/user/community/유저 프로필 사진.png" alt="프로필이미지&nbsp;&nbsp;">
							<span class="comment-name" th:text="${comment.userId}">이름&nbsp;&nbsp;</span>
							<span class="comment-mycomment">내 댓글</span>
						</div>
						<div class="comment-body" th:text="${comment.content}">
							댓글입니다. 댓글이에요. 댓글이요~~
						</div>

						<div class="comment-info">
							<span class="comment-days" th:if="${comment.daysAgo}!=0" th:text="|${comment.daysAgo}일 전|">3일 전 ·</span>
							<span class="comment-days" th:if="${comment.daysAgo}==0" th:text="오늘">3일 전 ·</span>
							<span class="comment-replies"> 답글 1개 ·</span>
							<span class="comment-reply"> 답글 달기</span>
						</div>
					</div>
					<img src="/img/icon/icon_header_more.png" alt="더보기아이콘">
				</section>
				<div class="reply-outer">
					<div class="reply">
						<div class="comment-writer">
							<img src="/img/user/community/유저 프로필 사진.png" alt="프로필이미지">
							<span class="comment-name">이름</span>
						</div>
						<div class="comment-body">
							답글입니다.
						</div>
						<div class="comment-info">
							<span class="comment-days">3일 전 </span>
						</div>
					</div>
					<img src="/img/icon/icon_header_more.png" alt="더보기아이콘">
				</div>
			</div>

		</section>

	</main>
</body>

</html>