<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/reset.css" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="../static/css/user_signup.css" />
    <title>카테고리 추천</title>
  </head>
  <body>
    <header class="header">
      <div class="header2">
        <img src="../static/img/icon/icon_header_title.png" alt="로고" />
      </div>
    </header>
    <main class="main">
      <div class="user_category_banner_main"></div>
      <!-- 상단 배너 -->
      <div class="user_category_box">
        <ul class="user_category_list">
          <li class="user_category_list_item">
            <a href="#"
              ><div class="user_category_list_item_icon">
                <span>카테고리</span>
              </div>
              <span>참여해봉</span></a
            >
          </li>
          <li class="user_category_list_item">
            <a href="#"
              ><div class="user_category_list_item_icon">
                <span>카테고리</span>
              </div>
              <span>참여해봉</span></a
            >
          </li>
          <li class="user_category_list_item">
            <a href="#"
              ><div class="user_category_list_item_icon">
                <span>카테고리</span>
              </div>
              <span>참여해봉</span></a
            >
          </li>
          <li class="user_category_list_item">
            <a href="#"
              ><div class="user_category_list_item_icon">
                <span>카테고리</span>
              </div>
              <span>참여해봉</span></a
            >
          </li>
        </ul>
        <ul class="user_category_list">
          <li class="user_category_list_item">
            <a href="#"
              ><div class="user_category_list_item_icon">
                <span>카테고리</span>
              </div>
              <span>참여해봉</span></a
            >
          </li>
          <li class="user_category_list_item">
            <a href="#"
              ><div class="user_category_list_item_icon">
                <span>카테고리</span>
              </div>
              <span>참여해봉</span></a
            >
          </li>
          <li class="user_category_list_item">
            <a href="#"
              ><div class="user_category_list_item_icon">
                <span>카테고리</span>
              </div>
              <span>참여해봉</span></a
            >
          </li>
          <li class="user_category_list_item">
            <a href="#"
              ><div class="user_category_list_item_icon">
                <span>카테고리</span>
              </div>
              <span>참여해봉</span></a
            >
          </li>
        </ul>
        <ul class="user_category_list">
          <li class="user_category_list_item">
            <a href="#"
              ><div class="user_category_list_item_icon">
                <span>카테고리</span>
              </div>
              <span>참여해봉</span></a
            >
          </li>
          <li class="user_category_list_item">
            <a href="#"
              ><div class="user_category_list_item_icon">
                <span>카테고리</span>
              </div>
              <span>참여해봉</span></a
            >
          </li>
          <li class="user_category_list_item">
            <a href="#"
              ><div class="user_category_list_item_icon">
                <span>카테고리</span>
              </div>
              <span>참여해봉</span></a
            >
          </li>
          <li class="user_category_list_item">
            <a href="#"
              ><div class="user_category_list_item_icon">
                <span>카테고리</span>
              </div>
              <span>참여해봉</span></a
            >
          </li>
        </ul>
      </div>

      <div class="user_category_banner_sub"></div>
      <!-- 카테고리 아이콘 박스 -->

      <div class="user_category_recommended">
        <div class="user_category_recommended_title">
          <span>이런 봉사, 해본 적 있어?</span>
          <a href="#"><img src="../static/img/icon/icon_plus.png" alt="" /></a>
        </div>
        <!--  -->
        <div class="user_category_recommended_list">
          <div class="user_category_recommended_item">
            <img
              src="../static/img/user/user_category_banner_main.png"
              alt=""
            />
            <h1>제주 서귀포</h1>
            <p>제주도 게스트 하우스 스텝 봉사</p>
          </div>
          <div class="user_category_recommended_item">
            <img
              src="../static/img/user/user_category_banner_main.png"
              alt=""
            />
            <h1>충남 예산</h1>
            <p>농촌 비닐하우스 일손돕기</p>
          </div>
          <div class="user_category_recommended_item">
            <img
              src="../static/img/user/user_category_banner_main.png"
              alt=""
            />
            <h1>충남 예산</h1>
            <p>농촌 비닐하우스 일손돕기</p>
          </div>
          <div class="user_category_recommended_item">
            <img
              src="../static/img/user/user_category_banner_main.png"
              alt=""
            />
            <h1>충남 예산</h1>
            <p>농촌 비닐하우스 일손돕기</p>
          </div>
          <div class="user_category_recommended_item">
            <img
              src="../static/img/user/user_category_banner_main.png"
              alt=""
            />
            <h1>충남 예산</h1>
            <p>농촌 비닐하우스 일손돕기</p>
          </div>
        </div>
      </div>
    </main>

    <nav class="nav_list">
      <ul>
        <li>
          <a
            ><img
              src="../static/img/icon/icon_nav_home.png"
              alt="내브바아이콘1"
          /></a>
        </li>
        <li>
          <a
            ><img src="../static/img/icon/icon_nav_map.png" alt="내브바아이콘2"
          /></a>
        </li>
        <li>
          <a
            ><img
              src="../static/img/icon/icon_nav_community.png"
              alt="내브바아이콘3"
          /></a>
        </li>
        <li>
          <a
            ><img
              src="../static/img/icon/icon_nav_category.png"
              alt="내브바아이콘4"
          /></a>
        </li>
        <li>
          <a
            ><img
              src="../static/img/icon/icon_nav_mypage.png"
              alt="내브바아이콘5"
          /></a>
        </li>
      </ul>
    </nav>
  </body>
</html>
