<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/signup.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/reset.css" />
    
    <script src="/js/find_pwd.js" defer></script>
    <style>
	.red{
		color : red;
	}	
	.blue{
		color : blue;
	}
		
	</style>
	<script src="js/signup.js" defer></script>
    <title>회원가입</title>
  </head>
  <body>
    <section class="main">
      <form action="/user_signup" method="post">
        <div><img src="/img/user/signup.png" alt="회원가입 상단 페이지" /></div>

        <div class="input">
			
			
          <div class="input_box">
         	 <input
              type="text"
              placeholder="이름을 입력해 주세요 (실명기재)"
              name="name"
              required
            />
            <hr />
          </div>
          
          <div>
           <input 
              type="text"
              placeholder="아이디로 사용하실 문자열을 입력해주세요"
              name="uid"
              required
            />
            <hr />
          </div>         
          <div>
           <input type="text" placeholder="이메일을 입력해 주세요" 
            	name="email"
            
            	required
            />
            <hr />
          </div>
          <div>
			  <span style="color : #777;">앞 6자리와 뒤 한자리를 입력해주세요</span>
			  
			  <div class="identity_box">
           <input class="front"
              type="text"
              
              name="birthDate"
              maxlength="6"
              oninput="next(event,'.gender')"
              required
            />
            -
            <input
            class="back gender"
              type="text"
              name="gender"
              maxlength="1"
              oninput="next(event, '.pwd')"
              required
            />
            <input class="back hidden" type="password" value="0" readonly/>
            <input class="back hidden" type="password" value="0" readonly/>
            <input class="back hidden" type="password" value="0" readonly/>
            <input class="back hidden" type="password" value="0" readonly/>
            <input class="back hidden" type="password" value="0" readonly/>
            <input class="back hidden" type="password" value="0" readonly/>
            </div>

          </div>
			
			<script>
				
				var numericInput = document.querySelectorAll('.identity_box>input');
				
			  numericInput.forEach(n => n.addEventListener('input', function(event) {
			    var input = event.target;
			    var inputValue = input.value;
			    var numericValue = inputValue.replace();
			
			    input.value = numericValue;
			  })
				)
				function next(event, nextTag) {
					  var input = event.target;
					  var inputValue = input.value;
					  var maxLength = parseInt(input.getAttribute("maxlength"), 10);
					
					  if (inputValue.length >= maxLength) {
					    var nextInput = document.querySelector(nextTag);
					    nextInput.focus();
					  }
					}
				</script>
		<!--비밀번호 확인 구현-->          
          <div>
           <input type="text" placeholder="비밀번호 8~20자리 (영 대/소문자, 숫자, 특수문자 조합)" 
            name="pwd"
            class="pwd"
            id="pwd"
            required />
            <hr />
          </div>
          
          
          <div>
            <input type="text" placeholder="비밀번호 확인" 
            name="pwd2"
            class="pwd2"
            id="pwd2"
            required/>
            <hr width="100px"/>
          </div>
           <div id="error"></div>  
          <!--비밀번호 확인 구현-->       
          
          <div>
			<input
              type="text"
              placeholder="-를 제외한 전화번호를 입력해주세요."
              name="phoneNumber"
              required
            />
            <hr />
          </div>
                 
                 <div>
			<input
              type="text"
              placeholder="닉네임으로 사용하실 문자열을 입력해주세요."
              name="nickname"
              
              required
            />
            <hr />
          </div>
              
         
         
		        <div style="display: flex; justify-content: center;">
			          <input
						  type="file"
						  name="profilePhoto"
						  id="profilePhotoInput"
						  style="display: none;" 
						/>
					<label for="profilePhotoInput">
		  			<img src="img/icon/icon_file.svg" width="30px" height="30px" alt="파일 선택" style="cursor: pointer;"/>
				</label>
		 </div>



          </div>
        </div>
   	<input class="org_login_confirm" type="submit"  value="가입하기">
      </form>
    </section>

  </body>
</html>
