<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/signup.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/reset.css" />
    <title>회원가입</title>
  </head>
  <body>
    <section class="main">
      <form action="text1" method="post">
        <div><img src="./img/signup.png" alt="회원가입 상단 페이지" /></div>

        <div class="input">
          <div>
            <span>기관명</span
            ><input
              type="text"
              placeholder="사업자 등록증 내 법인명을 입력해 주세요."
            />
            <hr />
          </div>
          <div>
            <span>대표자 명</span
            ><input
              type="text"
              placeholder="사업자 등록증 내 대표자명을 입력해 주세요."
            />
            <hr />
          </div>
          <div>
            <span>사업자 등록번호</span
            ><input type="text" placeholder="기관 확인을 위해 필수기재" />
            <hr />
          </div>
          <div>
            <span>담당자명</span
            ><input type="text" placeholder="담당자명을 입력해 주세요." />
            <hr />
          </div>
          <div>
            <span>담당자 연락처</span
            ><input type="text" placeholder="-없이 입력" />
            <hr />
          </div>
          <div>
            <span>담당자 이메일</span
            ><input type="text" placeholder="이메일을 입력해주세요." />
            <hr />
          </div>
          <div>
            <span>비밀번호</span
            ><input
              type="text"
              placeholder="8~20자리 (영 대/소문자, 숫자, 특수문자 조합)"
            />
            <hr />
          </div>
          <div>
            <span>비밀번호 확인</span
            ><input
              type="text"
              placeholder="8~20자리 (영 대/소문자, 숫자, 특수문자 조합)"
            />
            <hr />
          </div>
        </div>
      </form>
    </section>

    <div><input class="submit" type="button" value="가입하기" /></div>
  </body>
</html>
