<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>봉사 신청 모달</title>
    <link rel="stylesheet" href="../static/css/vol_modal.css">
     <!-- style.css 적용 안합니다. -->
    <!-- <link rel="stylesheet" href="../static/css/reset.css" /> -->
    <!-- <link rel="stylesheet" href="../static/css/style.css" /> -->
</head>
<body>  
    <main class="main">

        <img src="../static/img/icon/close.png" alt="">
        <header class="vol_modal_header">
            <img src="../static/img/user/user_modal_img.png" alt="">
            <ul>
                <li><strong>미리네 유기견 봉사</strong></li>
                <li>5월 13일 (월)<br>14:00~16:00</li>
            </ul>
        </header>
        <div class="vol_modal_body">
            <span><strong>신청 하시겠습니까?</strong></span>
            <ul>
                <li>취소</li>
                <li>신청</li>
            </ul>
        </div>

    </main>
</body>
</html>