<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >

<head>
   <meta charset="UTF-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link rel="stylesheet" href="/css/reset.css" />
   <link rel="stylesheet" href="/css/style.css" />
   <link rel="stylesheet" href=" /css/category_main.css" />
   <title>카테고리 추천</title>
</head>

<body>
   <header class="header">
      <div class="header2">
         <img src="/img/icon/icon_header_title.png" alt="로고" />
      </div>
   </header>
   <main class="main">
      <div class="user_category_banner_main"></div>
      <!-- 상단 배너 -->
      <div class="user_category_box">
         <ul class="user_category_list">
            <li class="user_category_list_item" th:each="cateList:${cateList}">
               <a href="@{./list(c=${cateList.id})}">
                  <div class="user_category_list_item_icon">
                     <span th:text="${cateList.id}">봉사카테고리이미지</span>
                  </div>
                  	<span th:text="${cateList.name}">봉사카테고리이름</span>
               </a>
            </li>
          </ul>
      </div>

      <div class="user_category_banner_sub"></div>
      <!-- 카테고리 아이콘 박스 -->

      <div class="user_category_recommended">
         <div class="user_category_recommended_title">
            <span>이런 봉사, 해본 적 있어?</span>
            <a href="#"><img src="/img/icon/icon_plus.png" alt="" /></a>
         </div>
         <!--  -->
         <ul class="user_category_recommended_list">
            <li class="user_category_recommended_item" th:each="mcateList:${mainCateList}">
               <img src="/img/user/user_category_banner_main.png" alt="" />
               <a href="@{./list(c=${mcateList})}">
	               <span th:text="${mcateList.title}">이색봉사 제목</span>
	               <span>이색봉사 설명</span>
               </a>
            </li>
         </ul>
      </div>
   </main>

   <nav class="nav_list" th:replace="~{inc/nav}">
   	     
   </nav>
</body>
</html>