@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
.main {
  overflow-y: scroll;
  width: 430px;
  height: 932px;
  background-color: #fef8ea;
  display: flex;
  flex-direction: column;
  gap: 20px;
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}
.main::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 오페라, 엣지 */
}

/* 헤더 */
.header {
  height: 80px;
  display: flex;
  flex-direction: row;
}
.header1{
	align-items: center;
	gap: 30%;
}
.header1> .title{
	margin-left: 35%;
}
.header1>a>.logout{
	width: 75%;
}
/* 기관메인 프로필*/
.org_profile {
  position: relative;
}
/* 기관메인 프로필사진*/
.org_profile > .org_profile_pic {
  position: relative;
  width: 430px;
  height: 300px;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.org_profile > .org_profile_pic > img {
  object-fit: cover;
}
/* 기관메인 회사이름 */
.org_profile > .org_profile_pic > .org_profile_name {
  position: absolute;
  bottom: 30px;
  left: 30px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-shadow: -1px 0px rgb(53, 53, 53), 0px 1px rgb(53, 53, 53),
    1px 0px rgb(53, 53, 53), 0px -1px rgb(53, 53, 53);
}
/* 기관메인 회사이름 */
.org_profile > .org_profile_pic > .org_profile_name > span {
  font-size: 20px;
  color: white;
}
/* 기관메인 디데이체크*/
.d_day_content {
  background-color: white;
  border-radius: 10px;
  width: 365px;
  height: 60px;
  margin-left: 20px;
  text-align: center;
  padding: 10px;
}
/* 공고관리,고객센터 */
.recruit > .recruit_box {
  width: 390px;
  height: 80px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-left: 20px;
}

/* 공고관리 */
.recruit > .recruit_box > .recruit_post > div {
  background-color: #ffffff;
  width: 80px;
  height: 80px;
  gap: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
}

.recruit > .recruit_box > .recruit_post > div:hover {
  background: #fff1a7;
  font-weight: bold;
}

.recruit_post > div > a > img{
	margin-left: 40px;
}

/* 고객센터 */
.recruit > .recruit_box > .org_cs > div {
  background-color: #ffffff;
  width: 80px;
  height: 80px;
  gap: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
}

.recruit > .recruit_box > .org_cs > div:hover {
  background: #fff1a7;
  font-weight: bold;
}
/* 진행중 모집 */
.ing {
  background-color: #ffffff;
  border-radius: 14px;
  width: 390px;
  height: 245px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.ing_header {
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  font-size: 18px;
  flex-direction: row;
  gap: 215px;
}

.ing_header > div > span {
  color: #5d5fa1;
}

.ing_header > img {
  width: 30px;
  height: 30px;
}

.ing_footer {
  font-size: 16px;
  background-color: #ffffff;
  border-radius: 14px;
  margin-left: 15;
  width: 390px;
  height: 180px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.ing_container {
  background-color: #f6f7f8;
  margin-top: 25px;
  width: 175px;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 10px;
}

.ing_container > .ing_contents {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  margin-left: 5px;
     white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 180px; /* 텍스트를 표시할 최대 너비 */
}

.ing_container > .ing_contents > .ing_detail > span {
  color: red;
  font-weight: bold;
}

.ing_container > .ing_contents > .ing_detail:nth-child(2) {
  margin-left: 30px;
}
