.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.main::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 오페라, 엣지 */
}

/* 헤더 */
.header {
  height: 80px;
  display: flex;
  flex-direction: row;
}
.header1 {
  align-items: center;
  gap: 30%;
}
.header1 > .title {
  margin-left: 35%;
}
.header1 > a > .logout {
  width: 75%;
}
/* 기관메인 프로필*/
.org_profile {
  position: relative;
}
/* 기관메인 프로필사진*/
.org_profile > .org_profile_pic {
  position: relative;
  width: 430px;
  height: 260px;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.org_profile > .org_profile_pic > img {
  object-fit: cover;
}
/* 기관메인 회사이름 */
.org_profile > .org_profile_pic > .org_profile_name {
  position: absolute;
  bottom: 30px;
  left: 32px;
  font-size: 18px;
  font-weight: bold;
  color: rgb(46, 46, 46);
  text-shadow: 6px 6px 6px rgba(255, 255, 255, 1),
    -3px -3px 6px rgba(255, 255, 255, 1), 6px -6px 6px rgba(255, 255, 255, 1),
    -6px 6px 6px rgba(255, 255, 255, 0.8);
}
/* 기관메인 회사이름 */
.org_profile > .org_profile_pic > .org_profile_name > span {
  font-size: 18px;
  color: rgb(32, 32, 32);
}
/* 기관메인 디데이체크*/
.d_day_content {
  background-color: white;
  border-radius: 15px;
  width: 365px;
  gap: 5px;
  margin-left: 20px;
  text-align: center;
  font-size: 14px;
  padding: 10px;
}
.recruit_post {
  background-color: white;
  display: flex;

  background-color: #ffffff;
  border-radius: 15px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  padding: 4px;
  padding-left: 14px;
  gap: 24px;
}

.recruit_post > li {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 24px;
  list-style: none;
  text-align: center;
  /* background-color: #5d5fa1; */
}

.recruit_post > li > a > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  transition: color 2s ease, background-color 1s ease;
}

.recruit_post > li > a > div:hover {
  background-color: rgba(255, 255, 0, 0.2);
  border-radius: 20px;
}

.recruit_post > li > a > div:not(:hover) {
  border-radius: 20px;
}

.recruit_post > div > a > img {
  margin-left: 40px;
}

.ing {
  background-color: #ffffff;
  border-radius: 14px;
  width: 390px;
  height: 245px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.ing_header {
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  font-size: 18px;
  flex-direction: row;
  gap: 215px;
}

.ing_header > div > span {
  color: #5d5fa1;
}

.ing_header > img {
  width: 30px;
  height: 30px;
}

.ing_footer {
  font-size: 16px;
  background-color: #ffffff;
  border-radius: 14px;
  margin-left: 15;
  width: 390px;
  height: 180px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.ing_container {
  background-color: #f6f7f8;
  margin-top: 25px;
  width: 175px;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 10px;
}

.ing_container > .ing_contents {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  margin-left: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 180px; /* 텍스트를 표시할 최대 너비 */
}

.ing_container > .ing_contents > .ing_detail > span {
  color: red;
  font-weight: bold;
}

.ing_container > .ing_contents > .ing_detail:nth-child(2) {
  margin-left: 30px;
}
