<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.heabong.web.repository.CommentRepository">
	<select id="findByPostId" resultType="kr.co.heabong.web.entity.Comment">
		select * from comment where post_id = #{postId}
	</select>
	<select id="findByParentId" resultType="kr.co.heabong.web.entity.Comment">
		select * from comment where parent_id = #{parentId}
	</select>
	<select id="getLastComment" resultType="kr.co.heabong.web.entity.Comment">
		select * from comment order by date desc limit 1
	</select>

	<update id="update">
		UPDATE haevongdb.comment<set>
			<if test="title!=null">title=#{title},</if>
			<if test="content!=null">content =#{content}</if>
		</set>
		WHERE id =#{id}</update>
	<delete id="delete">
		delete from comment where id=#{id}
	</delete>
	<insert id="save">
		INSERT INTO haevongdb.comment
		(
		`content`,
		`user_id`,
		`post_id`,
		`parent_id`
		)
		VALUES
		(
		#{content},
		#{userId},
		#{postId},
		#{parentId}
		);
	</insert>

</mapper>