<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.heabong.web.repository.UserRepository">
   <select id="findAll">
      select * from user
   </select>
   <select id="findByUserName">
	   select * from user where id = ${id}
   </select>
   <select id="findByUserPhoto">
	   SELECT profile_photo FROM user WHERE id = ${id}
   </select>
   <select id="findByUid" resultType="User">
	   select * from user where uid=#{uid};
   </select>
   <update id="update">
      UPDATE haevongdb.user
      <set>
        <if test="name != null">name = #{name},</if>
        <if test="phoneNumber != null">phone_number = #{phoneNumber},</if>
        <if test="gender != null">gender = #{gender},</if>
        <if test="age != null">age = #{age},</if>
        <if test="birthDate != null">birth_date = #{birthDate},</if>
        <if test="nickname != null">nickname = #{nickname}</if>
      </set>
   </update>
   <delete id="delete">
 delete from user where name = #{name}
   </delete>
   <insert id="save" parameterType="kr.co.heabong.web.entity.User">
   INSERT INTO user(uid,name, email, pwd, phone_number, gender, 
 <if test="age != null">age,</if>
   birth_date, 
   <if test="profilePhoto != null">profile_photo, </if>
   nickname, role_id)
		VALUES(#{uid},#{name}, #{email},#{pwd},#{phoneNumber},#{gender},
		<if test="age != null">#{age},</if>
		 #{birthDate}, 
		 <if test="profilePhoto != null">#{profilePhoto},</if>
		 #{nickname},1);
</insert>
   
   </mapper>
